<a href="https://colab.research.google.com/github/sundarp17/Housing/blob/main/Housing_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.neighbors import NearestNeighbors

city = pd.read_csv(r'/content/cities.csv')
city_census = pd.read_csv(r'/content/census_cities.csv')
city.head()

   ID               city     state  state_code  code          time_created
0   1     Alabaster city   Alabama           1   820   2021-01-19 14:47:03
1   2   Albertville city   Alabama           1   988   2021-01-19 14:47:03
2   3      Anniston city   Alabama           1  1852   2021-01-19 14:47:03
3   4        Athens city   Alabama           1  2956   2021-01-19 14:47:03
4   5        Auburn city   Alabama           1  3076   2021-01-19 14:47:03

In [2]:
city.isnull().sum()

ID              0
city            0
state           0
state_code      0
code            0
time_created    0
dtype: int64

In [3]:
city_census.head()

   Census_ID  city_id  median_age  ...  birth_outside_us  year  Column1.2.2.2.135
0       4026     1608        35.8  ...             493.0  2016                NaN
1       4027     1609        37.8  ...             220.0  2016                NaN
2       4028     1610        37.9  ...             237.0  2016                NaN
3       4029     1611        38.5  ...             855.0  2016                NaN
4       4030     1612        40.3  ...             115.0  2016                NaN

[5 rows x 61 columns]

In [4]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)
city_census = city_census.drop('Column1.2.2.2.135',axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

In [5]:
city_census['year'].unique()

array([2016, 2017, 2018, 2019])

In [6]:
city_census.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 1915
black_africa                                1915
native                                      1915
asian                                       1915
islander                                    1915
other                                       1915
median_family_income                        2
household_income                            4
median_household_income                     1
household_less_20                           4
household_20_39                             4
household_40_59                             4
household_60_99                             4
household_100_149                           4
household_150_200                           4
household_200_more                          4
below_poverty                               17
below_poverty_under_18                      17
below_poverty_18_64                         17
below_poverty_65_over                       17
above_poverty                               17
above_poverty_65_over                       17
travel_time                                 2
travel_time_less_10                         2
travel_time_10_29                           2
travel_time_30_59                           2
travel_time_60_more                         2
means_transit                               399
means_transit_drove_alone                   399
means_transit_other                         399
means_transit_worked_home                   399
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         1220
total_geographical_mobility                 994
same_house_1_year                           994
moved_within_same_county                    994
moved_from_diff_county_within_same_state    994
moved_from_diff_state                       994
edu_less_9                                  2
edu_9_12                                    2
edu_high_school                             2
edu_no_degree                               2
edu_bachelor_degree                         2
edu_professional_degree                     2
total_birth_in_us                           59
birth_native                                59
birth_residence_state                       59
birth_other_state                           59
birth_outside_us                            59
year                                        0
dtype: int64

2016 data

In [7]:
city_census.columns

Index(['Census_ID', 'city_id', 'median_age', 'male', 'female', 'white_alone',
       'black_africa', 'native', 'asian', 'islander', 'other',
       'median_family_income', 'household_income', 'median_household_income',
       'household_less_20', 'household_20_39', 'household_40_59',
       'household_60_99', 'household_100_149', 'household_150_200',
       'household_200_more', 'below_poverty', 'below_poverty_under_18',
       'below_poverty_18_64', 'below_poverty_65_over', 'above_poverty',
       'above_poverty_65_over', 'travel_time', 'travel_time_less_10',
       'travel_time_10_29', 'travel_time_30_59', 'travel_time_60_more',
       'means_transit', 'means_transit_drove_alone', 'means_transit_other',
       'means_transit_worked_home', 'total_pop_in_occupied_housing',
       'owner_occupied', 'renter_occupied', 'total_occupancy', 'occupied',
       'vacant', 'total_housing_units', 'total_geographical_mobility',
       'same_house_1_year', 'moved_within_same_county',
       'moved_from_diff_county_within_same_state', 'moved_from_diff_state',
       'edu_less_9', 'edu_9_12', 'edu_high_school', 'edu_no_degree',
       'edu_bachelor_degree', 'edu_professional_degree', 'total_birth_in_us',
       'birth_native', 'birth_residence_state', 'birth_other_state',
       'birth_outside_us', 'year'],
      dtype='object')

In [8]:
city_census_2016 = city_census[city_census['year']==2016]
city_census_2016

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
0,4026,1608,35.8,33576,38782,61904.0,4394.0,321.0,2502.0,99.0,915.0,78288.0,29102.0,56808.0,4564.0,5569.0,5244.0,6888.0,3839.0,1809.0,1189.0,8868.0,2680.0,5911.0,277.0,60917.0,9832.0,38103.0,6261.0,21407.0,9527.0,908.0,39388.0,33460.0,1154.0,1285.0,69543,44772,24771,30865,29102,1763,30865.0,71931.0,59910.0,7309.0,2672.0,1492.0,980.0,2616.0,12230.0,10073.0,10970.0,5610.0,72358.0,68312.0,52445.0,15374.0,493.0,2016
1,4027,1609,37.8,19178,19694,31181.0,185.0,238.0,5405.0,0.0,221.0,53878.0,16312.0,41226.0,2974.0,5028.0,3068.0,3772.0,793.0,254.0,423.0,8595.0,3318.0,4650.0,627.0,28858.0,5616.0,16982.0,4137.0,10951.0,1749.0,145.0,17514.0,14636.0,735.0,532.0,37885,23368,14517,17679,16312,1367,17679.0,38442.0,32713.0,3804.0,1506.0,419.0,1049.0,1449.0,8830.0,4676.0,4528.0,1922.0,38872.0,36297.0,26777.0,9300.0,220.0,2016
2,4028,1610,37.9,23856,24084,41235.0,1555.0,324.0,2391.0,0.0,430.0,102471.0,19604.0,79384.0,2059.0,2362.0,3236.0,4377.0,3559.0,1981.0,2030.0,2000.0,0.0,1244.0,756.0,45384.0,6217.0,24137.0,3326.0,16261.0,4073.0,477.0,25370.0,21049.0,762.0,1233.0,47227,34438,12789,20290,19604,686,20290.0,46960.0,40526.0,3261.0,1316.0,1491.0,87.0,623.0,4898.0,5210.0,11501.0,8611.0,47940.0,44959.0,35093.0,9629.0,237.0,2016
3,4029,1611,38.5,29889,30197,48892.0,3334.0,971.0,1395.0,0.0,3252.0,66069.0,28055.0,49243.0,5448.0,5515.0,5701.0,7779.0,2786.0,446.0,380.0,7711.0,1635.0,4954.0,1122.0,51743.0,6924.0,31057.0,3942.0,18947.0,6971.0,1197.0,31637.0,26747.0,864.0,580.0,59256,34132,25124,29761,28055,1706,29761.0,59617.0,53169.0,4905.0,845.0,297.0,1109.0,2228.0,15992.0,9769.0,7945.0,3063.0,60086.0,56511.0,48312.0,7344.0,855.0,2016
4,4030,1612,40.3,15215,16486,29207.0,472.0,0.0,341.0,0.0,854.0,71615.0,13259.0,59445.0,1611.0,2326.0,2722.0,3459.0,1835.0,995.0,311.0,1920.0,410.0,897.0,613.0,29486.0,5907.0,15304.0,3581.0,5912.0,5088.0,723.0,15898.0,13366.0,130.0,594.0,31385,22033,9352,14128,13259,869,14128.0,31448.0,27670.0,2150.0,1032.0,596.0,662.0,667.0,6730.0,4977.0,4718.0,1563.0,31701.0,30759.0,26656.0,3988.0,115.0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,4495,2325,27.4,13633,12822,6863.0,1246.0,0.0,62.0,0.0,17383.0,68343.0,3892.0,88613.0,264.0,201.0,480.0,1688.0,452.0,386.0,421.0,1919.0,659.0,1148.0,112.0,24280.0,1325.0,11663.0,692.0,7459.0,2692.0,820.0,11663.0,6299.0,985.0,0.0,26418,16985,9433,4287,3892,395,NaN,NaN,NaN,NaN,NaN,NaN,3777.0,1636.0,4302.0,3193.0,835.0,219.0,26455.0,14892.0,13390.0,749.0,753.0,2016
470,4496,1872,44.7,14644,15963,NaN,NaN,NaN,NaN,NaN,NaN,72315.0,13223.0,59712.0,2253.0,2301.0,2088.0,3703.0,2125.0,463.0,290.0,2645.0,866.0,1527.0,252.0,27888.0,5134.0,14245.0,1819.0,9154.0,3095.0,177.0,14634.0,13134.0,265.0,389.0,30454,23065,7389,14348,13223,1125,14348.0,29806.0,26866.0,1475.0,1283.0,182.0,457.0,639.0,6990.0,4829.0,3519.0,2590.0,30607.0,29880.0,26887.0,2591.0,402.0,2016
471,4497,2326,43.1,8686,11499,NaN,NaN,NaN,NaN,NaN,NaN,122637.0,5914.0,106545.0,137.0,568.0,684.0,1206.0,1644.0,970.0,705.0,329.0,0.0,135.0,194.0,19705.0,2677.0,11395.0,226.0,4096.0,3500.0,3573.0,11395.0,7686.0,65.0,0.0,20092,19237,855,6037,5914,123,6037.0,20185.0,19294.0,89.0,607.0,57.0,1152.0,307.0,2948.0,3411.0,3511.0,1986.0,20185.0,12553.0,11353.0,882.0,318.0,2016
472,4498,1873,44.3,14521,16381,NaN,NaN,NaN,NaN,NaN,NaN,132343.0,10529.0,106507.0,685.0,988.0,903.0,2386.0,2142.0,1590.0,1835.0,1131.0,90.0,524.0,517.0,29411.0,5574.0,13567.0,590.0,4785.0,4692.0,3500.0,14659.0,9536.0,406.0,1092.0,30750,29169,1581,11267,10529,738,11267.0,NaN,NaN,NaN,NaN,NaN,155.0,358.0,7107.0,3400.0,4996.0,3952.0,30902.0,28108.0,26239.0,1659.0,210.0,2016
473,4499,1874,36.6,12414,12899,12865.0,4307.0,0.0,1206.0,0.0,6055.0,90277.0,7525.0,70109.0,747.0,1544.0,877.0,1382.0,1454.0,794.0,727.0,1852.0,949.0,750.0,153.0,21444.0,2934.0,10909.0,1266.0,4256.0,3041.0,2346.0,11440.0,7698.0,677.0,531.0,23424,11989,11435,8760,7525,1235,8760.0,24801.0,22352.0,1559.0,279.0,561.0,2428.0,1114.0,4522.0,2221.0,3367.0,2271.0,25313.0,17835.0,13587.0,3700.0,548.0,2016

In [9]:
city_census_2016.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 130
black_africa                                130
native                                      130
asian                                       130
islander                                    130
other                                       130
median_family_income                        0
household_income                            0
median_household_income                     0
household_less_20                           0
household_20_39                             0
household_40_59                             0
household_60_99                             0
household_100_149                           0
household_150_200                           0
household_200_more                          0
below_poverty                               0
below_poverty_under_18                      0
below_poverty_18_64                         0
below_poverty_65_over                       0
above_poverty                               0
above_poverty_65_over                       0
travel_time                                 0
travel_time_less_10                         0
travel_time_10_29                           0
travel_time_30_59                           0
travel_time_60_more                         0
means_transit                               27
means_transit_drove_alone                   27
means_transit_other                         27
means_transit_worked_home                   27
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         68
total_geographical_mobility                 74
same_house_1_year                           74
moved_within_same_county                    74
moved_from_diff_county_within_same_state    74
moved_from_diff_state                       74
edu_less_9                                  0
edu_9_12                                    0
edu_high_school                             0
edu_no_degree                               0
edu_bachelor_degree                         0
edu_professional_degree                     0
total_birth_in_us                           14
birth_native                                14
birth_residence_state                       14
birth_other_state                           14
birth_outside_us                            14
year                                        0
dtype: int64

In [10]:
city_census_2016.describe()

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
count,474.000000,474.000000,474.000000,4.740000e+02,4.740000e+02,3.440000e+02,3.440000e+02,344.000000,3.440000e+02,344.000000,3.440000e+02,474.000000,4.740000e+02,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,4.740000e+02,474.000000,474.000000,474.000000,4.740000e+02,474.000000,4.740000e+02,474.00000,474.000000,4.740000e+02,4.740000e+02,4.470000e+02,447.000000,447.000000,447.000000,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,474.000000,4.060000e+02,4.000000e+02,4.000000e+02,400.000000,400.000000,400.000000,474.000000,474.000000,4.740000e+02,474.000000,4.740000e+02,474.000000,4.600000e+02,4.600000e+02,4.600000e+02,460.000000,460.000000,474.0
mean,4262.500000,1637.071730,36.601266,4.691707e+04,4.929154e+04,7.600326e+04,2.179207e+04,756.558140,8.947328e+03,145.305233,9.997622e+03,76190.318565,3.554945e+04,63256.320675,6558.888186,6888.529536,5662.947257,7569.814346,4676.666667,1950.364979,2242.238397,1.592501e+04,5308.432489,9118.877637,1497.702532,7.827554e+04,10578.421941,4.386884e+04,4507.14557,21607.170886,1.315539e+04,4.599135e+03,4.792784e+04,32275.780761,2734.480984,2064.024609,9.409585e+04,5.054849e+04,4.354736e+04,3.941329e+04,3.554945e+04,3863.843882,4.428626e+04,1.056312e+05,8.900901e+04,9893.302500,3199.855000,2554.787500,4645.042194,4809.755274,1.577984e+04,12421.253165,1.328124e+04,8005.542194,9.659659e+04,7.663138e+04,5.234283e+04,22369.519565,1919.030435,2016.0
std,136.976275,445.333325,5.273272,2.010311e+05,2.178261e+05,2.222915e+05,1.199099e+05,2552.074447,6.600282e+04,499.129332,7.121095e+04,30202.848181,1.536234e+05,26140.071086,31443.217290,27364.064373,21065.654863,30569.476325,20494.383559,9902.055668,13901.557594,7.876703e+04,24610.456722,44794.152883,9750.802579,3.338052e+05,44038.115858,1.889910e+05,9280.84413,58316.152154,8.058746e+04,4.772089e+04,2.033261e+05,72413.150566,24157.006872,9010.037678,4.103842e+05,1.526033e+05,2.608845e+05,1.708908e+05,1.536234e+05,17455.286232,1.842253e+05,4.489659e+05,4.000027e+05,30397.548158,9179.284724,7130.310977,28127.760535,26062.033398,6.968192e+04,42735.722181,6.244647e+04,44115.348380,4.248936e+05,2.740422e+05,2.063825e+05,58620.122443,14227.629864,0.0
min,4026.000000,629.000000,13.600000,8.350000e+03,7.940000e+03,2.425000e+03,5.900000e+01,0.000000,0.000000e+00,0.000000,0.000000e+00,18832.000000,3.514000e+03,12516.000000,66.000000,201.000000,69.000000,295.000000,34.000000,0.000000,0.000000,2.050000e+02,0.000000,56.000000,0.000000,1.095000e+04,51.000000,3.564000e+03,143.00000,1696.000000,1.090000e+02,0.000000e+00,3.811000e+03,1350.000000,0.000000,0.000000,1.366100e+04,1.130000e+02,2.180000e+02,3.918000e+03,3.514000e+03,0.000000,3.918000e+03,1.886800e+04,1.308500e+04,89.000000,0.000000,0.000000,0.000000,18.000000,6.270000e+02,637.000000,2.120000e+02,34.000000,1.960900e+04,1.255300e+04,2.555000e+03,506.000000,0.000000,2016.0
25%,4144.250000,1349.250000,33.300000,1.267000e+04,1.317225e+04,2.095425e+04,1.732750e+03,7.000000,6.997500e+02,0.000000,4.457500e+02,55709.750000,9.411750e+03,45641.750000,1073.250000,1524.250000,1405.500000,2061.250000,1215.250000,377.500000,283.750000,2.379000e+03,642.250000,1333.500000,194.250000,2.164350e+04,3048.000000,1.201625e+04,1345.25000,5914.750000,2.414750e+03,5.502500e+02,1.283000e+04,10020.000000,278.500000,368.000000,2.525700e+04,1.660075e+04,7.953000e+03,1.033025e+04,9.411750e+03,609.000000,1.152775e+04,2.685750e+04,2.273425e+04,2075.000000,728.500000,419.000000,439.250000,781.500000,4.319750e+03,3491.250000,3.054500e+03,1541.250000,2.567800e+04,2.281900e+04,1.623725e+04,5195.250000,224.750000,2016.0
50%,4262.500000,1715.500000,36.200000,1.849400e+04,1.926950e+04,3.547650e+04,4.402000e+03,167.000000,1.785000e+03,0.000000,1.750000e+03,71039.500000,1.355500e+04,56880.000000,2048.500000,2601.500000,2204.500000,3187.500000,2013.500000,841.500000,671.000000,4.441500e+03,1482.500000,2721.500000,441.500000,3.110350e+04,4853.000000,1.738700e+04,2557.00000,8883.500000,4.524500e+03,1.247000e+03,1.876800e+04,14644.000000,621.000000,750.000000,3.696750e+04,2.288600e+04,1.296300e+04,1.488250e+04,1.355500e+04,1227.000000,1.687800e+04,4.175950e+04,3.463350e+04,3715.500000,1555.000000,1036.500000,1047.500000,1556.500000,6.534500e+03,5191.500000,4.987000e+03,2847.500000,3.756400e+04,3.189150e+04,2.203250e+04,9328.000000,487.500000,2016.0
75%,4380.750000,1837.750000,40.100000,3.370875e+04,3.664050e+04,6.211050e+04,1.147625e+04,560.000000,4.853500e+03,46.000000,5.022750e+03,92818.250000,2.618700e+04,76575.750000,4623.000000,5038.500000,4174.500000,5810.750000,3659.250000,1591.000000,1680.750000,1.054550e+04,3342.000000,6178.250000,933.750000,5.816025e+04,8727.750000,3.223350e+04,4682.25000,17625.000000,8.694500e+03,2.523000e+03,3.479750e+04,28372.500000,1297.000000,1577.500000,6.935150e+04,4.488150e+04,2.597425e+04,2.877175e+04,2.618700e+04,2651.250000,3.179750e+04,7.254725e+04,6.131925e+04,7052.000000,2792.750000,2033.250000,2512.250000,3118.000000,1.151750e+04,9939.250000,1.050500e+04,5709.500000,6.929425e+04,5.991700e+04,4.070725e+04,17894.000000,1072.500000,2016.0
max,4499.000000,2326.000000,56.100000,4.075642e+06,4.462031e+06,3.627375e+06,2.073102e+06,31806.000000,1.205911e+06,4940.000000,1.286959e+06,218074.000000,3.114811e+06,175079.000000,638672.000000,528188.000000,406414.000000,618571.000000,424116.000000,207834.000000,291016.000000,1.586197e+06,471190.000000,908593.000000,206414.000000,6.811996e+06,914335.000000,3.832969e+06,148829.00000,964482.000000,1.685059e+06,1.034599e+06,4.007171e+06,875403.000000,506597.000000,174202.000000,8.360689e+06,2.919054e+06,5.441635e+06,3.463870e+06,3.114811e+06,349059.000000,3.463870e+06,8.431897e+06,7.597662e+06,461556.000000,158918.000000,114709.000000,563285.000000,537588.000000,1.439134e+06,832184.000000,1.285044e+06,923162.000000,8.537673e+06,5.337454e+06,4.089889e+06,946294.000000,301271.000000,2016.0

In [11]:
city_census_2016 = city_census_2016.apply(lambda x: x.fillna(x.mean()),axis=0)

In [12]:
city_census_2016.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 0
black_africa                                0
native                                      0
asian                                       0
islander                                    0
other                                       0
median_family_income                        0
household_income                            0
median_household_income                     0
household_less_20                           0
household_20_39                             0
household_40_59                             0
household_60_99                             0
household_100_149                           0
household_150_200                           0
household_200_more                          0
below_poverty                               0
below_poverty_under_18                      0
below_poverty_18_64                         0
below_poverty_65_over                       0
above_poverty                               0
above_poverty_65_over                       0
travel_time                                 0
travel_time_less_10                         0
travel_time_10_29                           0
travel_time_30_59                           0
travel_time_60_more                         0
means_transit                               0
means_transit_drove_alone                   0
means_transit_other                         0
means_transit_worked_home                   0
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         0
total_geographical_mobility                 0
same_house_1_year                           0
moved_within_same_county                    0
moved_from_diff_county_within_same_state    0
moved_from_diff_state                       0
edu_less_9                                  0
edu_9_12                                    0
edu_high_school                             0
edu_no_degree                               0
edu_bachelor_degree                         0
edu_professional_degree                     0
total_birth_in_us                           0
birth_native                                0
birth_residence_state                       0
birth_other_state                           0
birth_outside_us                            0
year                                        0
dtype: int64

In [13]:
city_census_2016.describe()

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
count,474.000000,474.000000,474.000000,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,474.000000,4.740000e+02,474.000000,4.740000e+02,474.000000,4.740000e+02,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,4.740000e+02,474.000000,474.000000,474.000000,4.740000e+02,474.000000,4.740000e+02,474.00000,474.000000,4.740000e+02,4.740000e+02,4.740000e+02,474.000000,474.000000,474.000000,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,474.000000,4.740000e+02,4.740000e+02,4.740000e+02,474.000000,474.000000,474.00000,474.000000,474.000000,4.740000e+02,474.000000,4.740000e+02,474.000000,4.740000e+02,4.740000e+02,4.740000e+02,474.000000,474.000000,474.0
mean,4262.500000,1637.071730,36.601266,4.691707e+04,4.929154e+04,7.600326e+04,2.179207e+04,756.558140,8.947328e+03,145.305233,9.997622e+03,76190.318565,3.554945e+04,63256.320675,6558.888186,6888.529536,5662.947257,7569.814346,4676.666667,1950.364979,2242.238397,1.592501e+04,5308.432489,9118.877637,1497.702532,7.827554e+04,10578.421941,4.386884e+04,4507.14557,21607.170886,1.315539e+04,4.599135e+03,4.792784e+04,32275.780761,2734.480984,2064.024609,9.409585e+04,5.054849e+04,4.354736e+04,3.941329e+04,3.554945e+04,3863.843882,4.428626e+04,1.056312e+05,8.900901e+04,9893.302500,3199.855000,2554.78750,4645.042194,4809.755274,1.577984e+04,12421.253165,1.328124e+04,8005.542194,9.659659e+04,7.663138e+04,5.234283e+04,22369.519565,1919.030435,2016.0
std,136.976275,445.333325,5.273272,2.010311e+05,2.178261e+05,1.892951e+05,1.021108e+05,2173.250703,5.620552e+04,425.039784,6.064057e+04,30202.848181,1.536234e+05,26140.071086,31443.217290,27364.064373,21065.654863,30569.476325,20494.383559,9902.055668,13901.557594,7.876703e+04,24610.456722,44794.152883,9750.802579,3.338052e+05,44038.115858,1.889910e+05,9280.84413,58316.152154,8.058746e+04,4.772089e+04,1.974377e+05,70316.023441,23457.405847,8749.101726,4.103842e+05,1.526033e+05,2.608845e+05,1.708908e+05,1.536234e+05,17455.286232,1.704693e+05,4.123530e+05,3.673827e+05,27918.651183,8430.721023,6548.83953,28127.760535,26062.033398,6.968192e+04,42735.722181,6.244647e+04,44115.348380,4.185583e+05,2.699562e+05,2.033053e+05,57746.078066,14015.491449,0.0
min,4026.000000,629.000000,13.600000,8.350000e+03,7.940000e+03,2.425000e+03,5.900000e+01,0.000000,0.000000e+00,0.000000,0.000000e+00,18832.000000,3.514000e+03,12516.000000,66.000000,201.000000,69.000000,295.000000,34.000000,0.000000,0.000000,2.050000e+02,0.000000,56.000000,0.000000,1.095000e+04,51.000000,3.564000e+03,143.00000,1696.000000,1.090000e+02,0.000000e+00,3.811000e+03,1350.000000,0.000000,0.000000,1.366100e+04,1.130000e+02,2.180000e+02,3.918000e+03,3.514000e+03,0.000000,3.918000e+03,1.886800e+04,1.308500e+04,89.000000,0.000000,0.00000,0.000000,18.000000,6.270000e+02,637.000000,2.120000e+02,34.000000,1.960900e+04,1.255300e+04,2.555000e+03,506.000000,0.000000,2016.0
25%,4144.250000,1349.250000,33.300000,1.267000e+04,1.317225e+04,2.490475e+04,2.508750e+03,63.500000,1.061000e+03,0.000000,8.112500e+02,55709.750000,9.411750e+03,45641.750000,1073.250000,1524.250000,1405.500000,2061.250000,1215.250000,377.500000,283.750000,2.379000e+03,642.250000,1333.500000,194.250000,2.164350e+04,3048.000000,1.201625e+04,1345.25000,5914.750000,2.414750e+03,5.502500e+02,1.310350e+04,10219.250000,312.500000,386.000000,2.525700e+04,1.660075e+04,7.953000e+03,1.033025e+04,9.411750e+03,609.000000,1.207375e+04,2.849975e+04,2.387625e+04,2321.000000,841.500000,477.25000,439.250000,781.500000,4.319750e+03,3491.250000,3.054500e+03,1541.250000,2.598925e+04,2.310475e+04,1.631925e+04,5275.750000,228.750000,2016.0
50%,4262.500000,1715.500000,36.200000,1.849400e+04,1.926950e+04,5.532850e+04,9.111000e+03,425.000000,3.857000e+03,0.000000,4.075500e+03,71039.500000,1.355500e+04,56880.000000,2048.500000,2601.500000,2204.500000,3187.500000,2013.500000,841.500000,671.000000,4.441500e+03,1482.500000,2721.500000,441.500000,3.110350e+04,4853.000000,1.738700e+04,2557.00000,8883.500000,4.524500e+03,1.247000e+03,1.939400e+04,15625.000000,694.500000,831.000000,3.696750e+04,2.288600e+04,1.296300e+04,1.488250e+04,1.355500e+04,1227.000000,2.084750e+04,5.114700e+04,4.327100e+04,4799.500000,1920.500000,1290.50000,1047.500000,1556.500000,6.534500e+03,5191.500000,4.987000e+03,2847.500000,3.885400e+04,3.298750e+04,2.294850e+04,9610.500000,514.500000,2016.0
75%,4380.750000,1837.750000,40.100000,3.370875e+04,3.664050e+04,7.600326e+04,2.179207e+04,756.558140,8.947328e+03,145.305233,9.997622e+03,92818.250000,2.618700e+04,76575.750000,4623.000000,5038.500000,4174.500000,5810.750000,3659.250000,1591.000000,1680.750000,1.054550e+04,3342.000000,6178.250000,933.750000,5.816025e+04,8727.750000,3.223350e+04,4682.25000,17625.000000,8.694500e+03,2.523000e+03,3.932650e+04,31951.750000,1763.000000,1843.500000,6.935150e+04,4.488150e+04,2.597425e+04,2.877175e+04,2.618700e+04,2651.250000,4.428626e+04,1.056312e+05,8.900901e+04,9893.302500,3199.855000,2554.78750,2512.250000,3118.000000,1.151750e+04,9939.250000,1.050500e+04,5709.500000,7.301050e+04,6.333750e+04,4.372700e+04,18931.000000,1157.750000,2016.0
max,4499.000000,2326.000000,56.100000,4.075642e+06,4.462031e+06,3.627375e+06,2.073102e+06,31806.000000,1.205911e+06,4940.000000,1.286959e+06,218074.000000,3.114811e+06,175079.000000,638672.000000,528188.000000,406414.000000,618571.000000,424116.000000,207834.000000,291016.000000,1.586197e+06,471190.000000,908593.000000,206414.000000,6.811996e+06,914335.000000,3.832969e+06,148829.00000,964482.000000,1.685059e+06,1.034599e+06,4.007171e+06,875403.000000,506597.000000,174202.000000,8.360689e+06,2.919054e+06,5.441635e+06,3.463870e+06,3.114811e+06,349059.000000,3.463870e+06,8.431897e+06,7.597662e+06,461556.000000,158918.000000,114709.00000,563285.000000,537588.000000,1.439134e+06,832184.000000,1.285044e+06,923162.000000,8.537673e+06,5.337454e+06,4.089889e+06,946294.000000,301271.000000,2016.0

2017

In [14]:
city_census_2017 = city_census[city_census['year']==2017]
city_census_2017.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 573
black_africa                                573
native                                      573
asian                                       573
islander                                    573
other                                       573
median_family_income                        0
household_income                            0
median_household_income                     0
household_less_20                           0
household_20_39                             0
household_40_59                             0
household_60_99                             0
household_100_149                           0
household_150_200                           0
household_200_more                          0
below_poverty                               6
below_poverty_under_18                      6
below_poverty_18_64                         6
below_poverty_65_over                       6
above_poverty                               6
above_poverty_65_over                       6
travel_time                                 1
travel_time_less_10                         1
travel_time_10_29                           1
travel_time_30_59                           1
travel_time_60_more                         1
means_transit                               124
means_transit_drove_alone                   124
means_transit_other                         124
means_transit_worked_home                   124
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         364
total_geographical_mobility                 261
same_house_1_year                           261
moved_within_same_county                    261
moved_from_diff_county_within_same_state    261
moved_from_diff_state                       261
edu_less_9                                  0
edu_9_12                                    0
edu_high_school                             0
edu_no_degree                               0
edu_bachelor_degree                         0
edu_professional_degree                     0
total_birth_in_us                           14
birth_native                                14
birth_residence_state                       14
birth_other_state                           14
birth_outside_us                            14
year                                        0
dtype: int64

In [15]:
city_census_2017.describe()

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
count,2302.000000,2302.000000,2302.000000,2.302000e+03,2.302000e+03,1.729000e+03,1.729000e+03,1729.000000,1.729000e+03,1729.000000,1.729000e+03,2302.000000,2.302000e+03,2302.000000,2302.000000,2302.000000,2302.000000,2302.000000,2302.000000,2302.000000,2302.000000,2.296000e+03,2296.000000,2296.000000,2296.000000,2.296000e+03,2296.000000,2.301000e+03,2301.000000,2301.000000,2.301000e+03,2.301000e+03,2.178000e+03,2.178000e+03,2178.000000,2178.000000,2.302000e+03,2.302000e+03,2.302000e+03,2.302000e+03,2.302000e+03,2302.000000,1.938000e+03,2.041000e+03,2.041000e+03,2041.000000,2041.000000,2041.000000,2302.000000,2302.000000,2.302000e+03,2302.000000,2.302000e+03,2302.000000,2.288000e+03,2.288000e+03,2.288000e+03,2288.000000,2288.000000,2302.0
mean,5650.500000,1179.738488,37.362294,3.759433e+04,3.928165e+04,5.839039e+04,1.509686e+04,607.864083,7.777854e+03,231.766339,7.296113e+03,81379.513467,2.814158e+04,67914.412685,4640.986968,5108.541268,4380.108601,6126.163336,4008.790182,1810.537359,2066.450912,1.128576e+04,3557.937282,6609.129355,1118.689460,6.388546e+04,9257.790941,3.500959e+04,3707.261625,17767.982182,1.026486e+04,3.269488e+03,3.838181e+04,2.780214e+04,2122.381084,1978.068871,7.495297e+04,4.291953e+04,3.203345e+04,3.125173e+04,2.814158e+04,3110.155951,3.510746e+04,8.162493e+04,6.833359e+04,7781.150906,2611.568349,2158.522293,3126.807993,3577.943093,1.238977e+04,10332.210686,1.098505e+04,6938.428758,7.684481e+04,6.231469e+04,4.101265e+04,19798.744755,1503.289773,2017.0
std,664.674482,686.186563,6.079030,1.152593e+05,1.229995e+05,1.347973e+05,6.658777e+04,1967.265010,3.681555e+04,872.726491,4.198124e+04,33587.115120,8.738719e+04,28956.528450,17300.688319,15281.668635,12517.603245,17346.936612,12061.522411,6056.009596,8596.744055,4.261162e+04,13186.097786,24515.683059,5280.292785,1.926287e+05,26181.810475,1.089966e+05,6269.408883,40837.660702,4.411075e+04,2.428859e+04,1.175690e+05,5.839744e+04,12992.327229,5941.857543,2.332661e+05,9.778925e+04,1.392253e+05,9.719271e+04,8.738719e+04,10333.307907,1.054620e+05,2.491634e+05,2.189517e+05,20347.572517,5412.623051,5053.038367,15853.169745,14428.400003,3.934502e+04,26523.567628,3.659375e+04,25122.682781,2.388458e+05,1.646424e+05,1.205900e+05,43098.712172,7356.306721,0.0
min,4500.000000,1.000000,13.200000,7.957000e+03,6.500000e+03,1.124000e+03,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,18168.000000,3.309000e+03,12400.000000,0.000000,85.000000,161.000000,201.000000,0.000000,0.000000,0.000000,6.400000e+01,0.000000,0.000000,0.000000,5.627000e+03,169.000000,1.918000e+03,40.000000,643.000000,1.040000e+02,0.000000e+00,2.360000e+03,1.476000e+03,0.000000,0.000000,7.967000e+03,1.950000e+02,5.560000e+02,3.982000e+03,3.309000e+03,0.000000,4.107000e+03,1.860500e+04,6.097000e+03,69.000000,0.000000,0.000000,0.000000,0.000000,2.650000e+02,388.000000,1.820000e+02,0.000000,1.905800e+04,5.654000e+03,1.273000e+03,216.000000,0.000000,2017.0
25%,5075.250000,586.250000,33.900000,1.280275e+04,1.332175e+04,2.049800e+04,1.401000e+03,13.000000,8.970000e+02,0.000000,4.970000e+02,57557.750000,9.440750e+03,47146.750000,1020.250000,1462.750000,1384.500000,2125.000000,1328.000000,429.250000,292.000000,2.298250e+03,512.000000,1326.750000,214.750000,2.236000e+04,3245.750000,1.184200e+04,1200.000000,5685.000000,2.824000e+03,6.300000e+02,1.289850e+04,9.971750e+03,317.250000,495.750000,2.533125e+04,1.640850e+04,7.939750e+03,1.028000e+04,9.440750e+03,589.750000,1.139075e+04,2.663500e+04,2.258100e+04,1993.000000,681.000000,456.000000,392.250000,776.000000,4.259000e+03,3536.250000,3.212500e+03,1613.250000,2.601475e+04,2.237000e+04,1.482800e+04,5615.750000,244.000000,2017.0
50%,5650.500000,1171.500000,37.000000,1.847850e+04,1.931600e+04,3.275300e+04,3.760000e+03,171.000000,2.336000e+03,0.000000,1.693000e+03,73665.000000,1.370700e+04,61163.000000,1967.500000,2488.500000,2185.000000,3197.500000,2116.000000,940.500000,761.000000,4.618500e+03,1348.000000,2632.500000,467.000000,3.197600e+04,5038.500000,1.708500e+04,2177.000000,8484.000000,4.813000e+03,1.348000e+03,1.877650e+04,1.467850e+04,685.500000,956.000000,3.680350e+04,2.414450e+04,1.339700e+04,1.493950e+04,1.370700e+04,1192.500000,1.698100e+04,4.004300e+04,3.355200e+04,3556.000000,1379.000000,955.000000,988.500000,1526.500000,6.300500e+03,5327.000000,5.353500e+03,3111.000000,3.758850e+04,3.192150e+04,2.095800e+04,9738.500000,569.000000,2017.0
75%,6225.750000,1771.750000,40.600000,3.267075e+04,3.485700e+04,5.621300e+04,1.039200e+04,487.000000,6.254000e+03,126.000000,4.745000e+03,98934.500000,2.493600e+04,82432.500000,3848.000000,4477.750000,3897.250000,5538.000000,3772.250000,1788.500000,1896.500000,9.454750e+03,3092.000000,5484.500000,946.500000,5.752725e+04,8897.250000,3.075700e+04,4015.000000,15978.000000,8.953000e+03,2.824000e+03,3.357300e+04,2.629675e+04,1426.000000,1824.250000,6.596200e+04,4.039725e+04,2.635850e+04,2.752150e+04,2.493600e+04,2592.500000,3.092925e+04,7.145400e+04,6.061800e+04,6774.000000,2771.000000,1967.000000,2451.250000,3003.750000,1.111300e+04,9409.500000,9.824250e+03,6002.000000,6.726125e+04,5.577425e+04,3.719675e+04,18530.750000,1252.250000,2017.0
max,6801.000000,2403.000000,76.100000,4.112539e+06,4.510159e+06,3.635789e+06,2.094132e+06,35124.000000,1.252589e+06,22833.000000,1.307267e+06,250001.000000,3.159674e+06,231651.000000,631762.000000,510876.000000,414575.000000,605163.000000,441255.000000,229500.000000,326543.000000,1.522962e+06,442837.000000,863799.000000,216326.000000,6.959507e+06,983333.000000,3.899457e+06,140185.000000,980067.000000,1.686254e+06,1.092951e+06,4.072761e+06,1.389077e+06,531500.000000,173304.000000,8.447387e+06,2.999495e+06,5.447892e+06,3.497344e+06,3.159674e+06,337670.000000,3.497344e+06,8.519700e+06,7.681567e+06,452127.000000,167840.000000,125478.000000,559208.000000,541577.000000,1.494589e+06,822013.000000,1.314514e+06,953431.000000,8.622698e+06,5.427758e+06,4.169361e+06,940095.000000,318302.000000,2017.0

In [16]:
city_census_2017 = city_census_2017.apply(lambda x: x.fillna(x.mean()),axis=0)
city_census_2017.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 0
black_africa                                0
native                                      0
asian                                       0
islander                                    0
other                                       0
median_family_income                        0
household_income                            0
median_household_income                     0
household_less_20                           0
household_20_39                             0
household_40_59                             0
household_60_99                             0
household_100_149                           0
household_150_200                           0
household_200_more                          0
below_poverty                               0
below_poverty_under_18                      0
below_poverty_18_64                         0
below_poverty_65_over                       0
above_poverty                               0
above_poverty_65_over                       0
travel_time                                 0
travel_time_less_10                         0
travel_time_10_29                           0
travel_time_30_59                           0
travel_time_60_more                         0
means_transit                               0
means_transit_drove_alone                   0
means_transit_other                         0
means_transit_worked_home                   0
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         0
total_geographical_mobility                 0
same_house_1_year                           0
moved_within_same_county                    0
moved_from_diff_county_within_same_state    0
moved_from_diff_state                       0
edu_less_9                                  0
edu_9_12                                    0
edu_high_school                             0
edu_no_degree                               0
edu_bachelor_degree                         0
edu_professional_degree                     0
total_birth_in_us                           0
birth_native                                0
birth_residence_state                       0
birth_other_state                           0
birth_outside_us                            0
year                                        0
dtype: int64

In [17]:
city_census_2017.describe()

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
count,2302.000000,2302.000000,2302.000000,2.302000e+03,2.302000e+03,2.302000e+03,2.302000e+03,2302.000000,2.302000e+03,2302.000000,2.302000e+03,2302.000000,2.302000e+03,2302.000000,2302.000000,2302.000000,2302.000000,2302.000000,2302.000000,2302.000000,2302.000000,2.302000e+03,2302.000000,2302.000000,2302.000000,2.302000e+03,2302.000000,2.302000e+03,2302.000000,2302.000000,2.302000e+03,2.302000e+03,2.302000e+03,2.302000e+03,2302.000000,2302.000000,2.302000e+03,2.302000e+03,2.302000e+03,2.302000e+03,2.302000e+03,2302.000000,2.302000e+03,2.302000e+03,2.302000e+03,2302.000000,2302.000000,2302.000000,2302.000000,2302.000000,2.302000e+03,2302.000000,2.302000e+03,2302.000000,2.302000e+03,2.302000e+03,2.302000e+03,2302.000000,2302.000000,2302.0
mean,5650.500000,1179.738488,37.362294,3.759433e+04,3.928165e+04,5.839039e+04,1.509686e+04,607.864083,7.777854e+03,231.766339,7.296113e+03,81379.513467,2.814158e+04,67914.412685,4640.986968,5108.541268,4380.108601,6126.163336,4008.790182,1810.537359,2066.450912,1.128576e+04,3557.937282,6609.129355,1118.689460,6.388546e+04,9257.790941,3.500959e+04,3707.261625,17767.982182,1.026486e+04,3.269488e+03,3.838181e+04,2.780214e+04,2122.381084,1978.068871,7.495297e+04,4.291953e+04,3.203345e+04,3.125173e+04,2.814158e+04,3110.155951,3.510746e+04,8.162493e+04,6.833359e+04,7781.150906,2611.568349,2158.522293,3126.807993,3577.943093,1.238977e+04,10332.210686,1.098505e+04,6938.428758,7.684481e+04,6.231469e+04,4.101265e+04,19798.744755,1503.289773,2017.0
std,664.674482,686.186563,6.079030,1.152593e+05,1.229995e+05,1.168140e+05,5.770428e+04,1704.811739,3.190398e+04,756.295853,3.638051e+04,33587.115120,8.738719e+04,28956.528450,17300.688319,15281.668635,12517.603245,17346.936612,12061.522411,6056.009596,8596.744055,4.255603e+04,13168.894781,24483.699115,5273.403946,1.923773e+05,26147.652847,1.089730e+05,6268.046412,40828.785843,4.410117e+04,2.428331e+04,1.143572e+05,5.680215e+04,12637.403593,5779.538226,2.332661e+05,9.778925e+04,1.392253e+05,9.719271e+04,8.738719e+04,10333.307907,9.676152e+04,2.346070e+05,2.061603e+05,19158.847445,5096.412322,4757.834927,15853.169745,14428.400003,3.934502e+04,26523.567628,3.659375e+04,25122.682781,2.381181e+05,1.641407e+05,1.202226e+05,42967.399142,7333.893547,0.0
min,4500.000000,1.000000,13.200000,7.957000e+03,6.500000e+03,1.124000e+03,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,18168.000000,3.309000e+03,12400.000000,0.000000,85.000000,161.000000,201.000000,0.000000,0.000000,0.000000,6.400000e+01,0.000000,0.000000,0.000000,5.627000e+03,169.000000,1.918000e+03,40.000000,643.000000,1.040000e+02,0.000000e+00,2.360000e+03,1.476000e+03,0.000000,0.000000,7.967000e+03,1.950000e+02,5.560000e+02,3.982000e+03,3.309000e+03,0.000000,4.107000e+03,1.860500e+04,6.097000e+03,69.000000,0.000000,0.000000,0.000000,0.000000,2.650000e+02,388.000000,1.820000e+02,0.000000,1.905800e+04,5.654000e+03,1.273000e+03,216.000000,0.000000,2017.0
25%,5075.250000,586.250000,33.900000,1.280275e+04,1.332175e+04,2.384800e+04,2.033000e+03,62.000000,1.229000e+03,0.000000,8.072500e+02,57557.750000,9.440750e+03,47146.750000,1020.250000,1462.750000,1384.500000,2125.000000,1328.000000,429.250000,292.000000,2.302500e+03,513.000000,1328.000000,215.000000,2.236575e+04,3251.250000,1.184250e+04,1200.250000,5686.000000,2.826000e+03,6.300000e+02,1.320625e+04,1.018325e+04,337.000000,524.000000,2.533125e+04,1.640850e+04,7.939750e+03,1.028000e+04,9.440750e+03,589.750000,1.222475e+04,2.796225e+04,2.349750e+04,2191.750000,771.000000,507.250000,392.250000,776.000000,4.259000e+03,3536.250000,3.212500e+03,1613.250000,2.607925e+04,2.241600e+04,1.486950e+04,5627.250000,246.250000,2017.0
50%,5650.500000,1171.500000,37.000000,1.847850e+04,1.931600e+04,4.638650e+04,7.035000e+03,349.000000,4.287000e+03,55.000000,3.272500e+03,73665.000000,1.370700e+04,61163.000000,1967.500000,2488.500000,2185.000000,3197.500000,2116.000000,940.500000,761.000000,4.631000e+03,1352.000000,2641.000000,467.500000,3.213650e+04,5046.500000,1.708550e+04,2178.000000,8484.500000,4.813000e+03,1.349500e+03,1.987950e+04,1.548900e+04,728.000000,1022.000000,3.680350e+04,2.414450e+04,1.339700e+04,1.493950e+04,1.370700e+04,1192.500000,2.134950e+04,4.626400e+04,3.879900e+04,4099.500000,1606.000000,1138.500000,988.500000,1526.500000,6.300500e+03,5327.000000,5.353500e+03,3111.000000,3.775850e+04,3.207050e+04,2.107750e+04,9799.000000,571.500000,2017.0
75%,6225.750000,1771.750000,40.600000,3.267075e+04,3.485700e+04,5.839039e+04,1.509686e+04,607.864083,7.777854e+03,231.766339,7.296113e+03,98934.500000,2.493600e+04,82432.500000,3848.000000,4477.750000,3897.250000,5538.000000,3772.250000,1788.500000,1896.500000,9.490500e+03,3109.750000,5518.750000,953.750000,5.772275e+04,8988.000000,3.076525e+04,4013.500000,15983.250000,8.953000e+03,2.828500e+03,3.838036e+04,2.780214e+04,1728.500000,1978.068871,6.596200e+04,4.039725e+04,2.635850e+04,2.752150e+04,2.493600e+04,2592.500000,3.510746e+04,8.162493e+04,6.833359e+04,7781.150906,2611.568349,2158.522293,2451.250000,3003.750000,1.111300e+04,9409.500000,9.824250e+03,6002.000000,6.828125e+04,5.633625e+04,3.788225e+04,18820.750000,1280.500000,2017.0
max,6801.000000,2403.000000,76.100000,4.112539e+06,4.510159e+06,3.635789e+06,2.094132e+06,35124.000000,1.252589e+06,22833.000000,1.307267e+06,250001.000000,3.159674e+06,231651.000000,631762.000000,510876.000000,414575.000000,605163.000000,441255.000000,229500.000000,326543.000000,1.522962e+06,442837.000000,863799.000000,216326.000000,6.959507e+06,983333.000000,3.899457e+06,140185.000000,980067.000000,1.686254e+06,1.092951e+06,4.072761e+06,1.389077e+06,531500.000000,173304.000000,8.447387e+06,2.999495e+06,5.447892e+06,3.497344e+06,3.159674e+06,337670.000000,3.497344e+06,8.519700e+06,7.681567e+06,452127.000000,167840.000000,125478.000000,559208.000000,541577.000000,1.494589e+06,822013.000000,1.314514e+06,953431.000000,8.622698e+06,5.427758e+06,4.169361e+06,940095.000000,318302.000000,2017.0

2018

In [18]:
city_census_2018 = city_census[city_census['year']==2018]
city_census_2018.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 585
black_africa                                585
native                                      585
asian                                       585
islander                                    585
other                                       585
median_family_income                        1
household_income                            1
median_household_income                     0
household_less_20                           1
household_20_39                             1
household_40_59                             1
household_60_99                             1
household_100_149                           1
household_150_200                           1
household_200_more                          1
below_poverty                               6
below_poverty_under_18                      6
below_poverty_18_64                         6
below_poverty_65_over                       6
above_poverty                               6
above_poverty_65_over                       6
travel_time                                 1
travel_time_less_10                         1
travel_time_10_29                           1
travel_time_30_59                           1
travel_time_60_more                         1
means_transit                               121
means_transit_drove_alone                   121
means_transit_other                         121
means_transit_worked_home                   121
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         372
total_geographical_mobility                 304
same_house_1_year                           304
moved_within_same_county                    304
moved_from_diff_county_within_same_state    304
moved_from_diff_state                       304
edu_less_9                                  1
edu_9_12                                    1
edu_high_school                             1
edu_no_degree                               1
edu_bachelor_degree                         1
edu_professional_degree                     1
total_birth_in_us                           15
birth_native                                15
birth_residence_state                       15
birth_other_state                           15
birth_outside_us                            15
year                                        0
dtype: int64

In [19]:
city_census_2018.describe()

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
count,2323.00000,2323.000000,2323.000000,2.323000e+03,2.323000e+03,1.738000e+03,1.738000e+03,1738.000000,1.738000e+03,1738.000000,1.738000e+03,2322.000000,2.322000e+03,2323.000000,2322.000000,2322.000000,2322.000000,2322.000000,2322.000000,2322.000000,2322.000000,2.317000e+03,2317.000000,2317.000000,2317.000000,2.317000e+03,2317.000000,2.322000e+03,2322.000000,2322.000000,2.322000e+03,2.322000e+03,2.202000e+03,2.202000e+03,2202.000000,2202.000000,2.323000e+03,2.323000e+03,2.323000e+03,2.323000e+03,2.323000e+03,2323.000000,1.951000e+03,2.019000e+03,2.019000e+03,2019.000000,2019.000000,2019.000000,2322.000000,2322.000000,2.322000e+03,2322.000000,2.322000e+03,2322.000000,2.308000e+03,2.308000e+03,2.308000e+03,2308.000000,2308.000000,2323.0
mean,7963.00000,1194.690056,37.474559,3.758594e+04,3.922677e+04,5.850587e+04,1.512458e+04,643.727848,7.815506e+03,231.679517,7.089475e+03,84693.705426,2.836324e+04,70418.186397,4471.314815,5000.228682,4342.004737,6156.326012,4166.517227,1910.394488,2316.457795,1.095981e+04,3402.999568,6385.314631,1171.495037,6.414909e+04,9490.217523,3.528675e+04,3689.586563,17821.122739,1.044057e+04,3.335473e+03,3.864963e+04,2.800341e+04,2138.335604,2015.767484,7.488986e+04,4.309765e+04,3.179221e+04,3.139968e+04,2.835395e+04,3045.724064,3.533101e+04,8.273587e+04,6.941657e+04,7765.394255,2656.840020,2221.308569,3060.152024,3483.645134,1.228775e+04,10249.837640,1.122005e+04,7162.245478,7.682506e+04,6.237406e+04,4.087021e+04,19959.860052,1543.983969,2018.0
std,670.73666,695.202754,6.143975,1.134403e+05,1.207254e+05,1.336861e+05,6.527595e+04,2210.754319,3.574066e+04,929.823280,3.972546e+04,34769.388750,8.796189e+04,30112.753755,16468.851788,15100.806446,12352.390623,17509.733415,12469.328687,6310.999897,9549.411734,4.052715e+04,12460.363738,22973.141088,5527.954753,1.905787e+05,26339.857779,1.080447e+05,6279.370804,40822.749603,4.409166e+04,2.343501e+04,1.166125e+05,5.890425e+04,12673.688690,6056.602067,2.290006e+05,9.699457e+04,1.356433e+05,9.762276e+04,8.794409e+04,10162.446675,1.060500e+05,2.471706e+05,2.169859e+05,20295.763408,5550.275907,5136.486587,15635.213182,13344.922634,3.812418e+04,26115.291054,3.740550e+04,25609.699045,2.347809e+05,1.625355e+05,1.178119e+05,43780.234900,7313.268202,0.0
min,6802.00000,1.000000,13.200000,8.418000e+03,6.004000e+03,4.060000e+02,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,16009.000000,2.230000e+03,11762.000000,0.000000,0.000000,133.000000,195.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,3.770000e+03,36.000000,2.222000e+03,0.000000,644.000000,8.300000e+01,0.000000e+00,2.652000e+03,1.524000e+03,0.000000,0.000000,6.758000e+03,1.380000e+02,1.820000e+02,3.478000e+03,2.230000e+03,0.000000,3.478000e+03,1.861700e+04,5.559000e+03,127.000000,0.000000,0.000000,0.000000,0.000000,2.390000e+02,467.000000,4.400000e+01,0.000000,1.902300e+04,6.414000e+03,3.010000e+02,185.000000,0.000000,2018.0
25%,7382.50000,594.500000,33.900000,1.275100e+04,1.345800e+04,2.091450e+04,1.417250e+03,12.000000,9.132500e+02,0.000000,5.905000e+02,60512.000000,9.540000e+03,48622.000000,977.500000,1436.250000,1344.500000,2101.250000,1406.250000,479.000000,335.000000,2.119000e+03,438.000000,1213.000000,235.000000,2.247200e+04,3421.000000,1.191350e+04,1212.250000,5653.750000,2.812500e+03,6.555000e+02,1.294425e+04,1.006450e+04,316.250000,507.000000,2.544650e+04,1.663500e+04,7.863000e+03,1.039050e+04,9.539000e+03,572.000000,1.146800e+04,2.702600e+04,2.309750e+04,2013.000000,707.500000,425.000000,389.500000,739.000000,4.174750e+03,3493.250000,3.225250e+03,1698.000000,2.606975e+04,2.231750e+04,1.464500e+04,5556.250000,248.000000,2018.0
50%,7963.00000,1188.000000,37.200000,1.839200e+04,1.936300e+04,3.289700e+04,3.736500e+03,167.000000,2.369500e+03,0.000000,1.714500e+03,76436.500000,1.369950e+04,63942.000000,1879.000000,2403.000000,2172.000000,3175.000000,2239.000000,1000.000000,888.000000,4.432000e+03,1305.000000,2500.000000,471.000000,3.223500e+04,5177.000000,1.700600e+04,2086.000000,8415.500000,4.895500e+03,1.405500e+03,1.884850e+04,1.465750e+04,676.000000,960.500000,3.672100e+04,2.432600e+04,1.330000e+04,1.507000e+04,1.369700e+04,1177.000000,1.725500e+04,4.078500e+04,3.470600e+04,3493.000000,1414.000000,959.000000,942.500000,1512.000000,6.397000e+03,5154.500000,5.579000e+03,3242.000000,3.750000e+04,3.172450e+04,2.103000e+04,9858.500000,590.500000,2018.0
75%,8543.50000,1790.500000,40.700000,3.270050e+04,3.475950e+04,5.656825e+04,1.030275e+04,514.000000,6.346000e+03,114.750000,4.725250e+03,102126.000000,2.510225e+04,85727.500000,3751.500000,4400.000000,3992.750000,5580.500000,3922.750000,1859.750000,2142.500000,9.089000e+03,2838.000000,5213.000000,1035.000000,5.757300e+04,9286.000000,3.069525e+04,3982.750000,16101.500000,9.109500e+03,2.924000e+03,3.400000e+04,2.641950e+04,1456.250000,1862.500000,6.590350e+04,4.075300e+04,2.567050e+04,2.757050e+04,2.509950e+04,2505.000000,3.120450e+04,7.348300e+04,6.194000e+04,6734.500000,2763.000000,2048.500000,2401.500000,3031.750000,1.133650e+04,9387.000000,1.014550e+04,6245.250000,6.717400e+04,5.544175e+04,3.702475e+04,18716.000000,1266.000000,2018.0
max,9124.00000,2458.000000,75.800000,4.003933e+06,4.394815e+06,3.548402e+06,2.039194e+06,40653.000000,1.192303e+06,27090.000000,1.239563e+06,250001.000000,3.184496e+06,250001.000000,604736.000000,499936.000000,409867.000000,611815.000000,458542.000000,237681.000000,361919.000000,1.426628e+06,407238.000000,792936.000000,226454.000000,6.831396e+06,982356.000000,3.811905e+06,139668.000000,953768.000000,1.667095e+06,1.051374e+06,3.991561e+06,1.394185e+06,512602.000000,179656.000000,8.218043e+06,2.952763e+06,5.265280e+06,3.519453e+06,3.184496e+06,334957.000000,3.519453e+06,8.295738e+06,7.475884e+06,453927.000000,176846.000000,110624.000000,544714.000000,483683.000000,1.428628e+06,798486.000000,1.358422e+06,960655.000000,8.398748e+06,5.305662e+06,4.036335e+06,957068.000000,312259.000000,2018.0

In [20]:
city_census_2018 = city_census_2018.apply(lambda x: x.fillna(x.mean()),axis=0)
city_census_2018.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 0
black_africa                                0
native                                      0
asian                                       0
islander                                    0
other                                       0
median_family_income                        0
household_income                            0
median_household_income                     0
household_less_20                           0
household_20_39                             0
household_40_59                             0
household_60_99                             0
household_100_149                           0
household_150_200                           0
household_200_more                          0
below_poverty                               0
below_poverty_under_18                      0
below_poverty_18_64                         0
below_poverty_65_over                       0
above_poverty                               0
above_poverty_65_over                       0
travel_time                                 0
travel_time_less_10                         0
travel_time_10_29                           0
travel_time_30_59                           0
travel_time_60_more                         0
means_transit                               0
means_transit_drove_alone                   0
means_transit_other                         0
means_transit_worked_home                   0
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         0
total_geographical_mobility                 0
same_house_1_year                           0
moved_within_same_county                    0
moved_from_diff_county_within_same_state    0
moved_from_diff_state                       0
edu_less_9                                  0
edu_9_12                                    0
edu_high_school                             0
edu_no_degree                               0
edu_bachelor_degree                         0
edu_professional_degree                     0
total_birth_in_us                           0
birth_native                                0
birth_residence_state                       0
birth_other_state                           0
birth_outside_us                            0
year                                        0
dtype: int64

In [21]:
city_census_2018.describe()

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
count,2323.00000,2323.000000,2323.000000,2.323000e+03,2.323000e+03,2.323000e+03,2.323000e+03,2323.000000,2.323000e+03,2323.000000,2.323000e+03,2323.000000,2.323000e+03,2323.000000,2323.000000,2323.000000,2323.000000,2323.000000,2323.000000,2323.000000,2323.000000,2.323000e+03,2323.000000,2323.000000,2323.000000,2.323000e+03,2323.000000,2.323000e+03,2323.000000,2323.000000,2.323000e+03,2.323000e+03,2.323000e+03,2.323000e+03,2323.000000,2323.000000,2.323000e+03,2.323000e+03,2.323000e+03,2.323000e+03,2.323000e+03,2323.000000,2.323000e+03,2.323000e+03,2.323000e+03,2323.000000,2323.00000,2323.000000,2323.000000,2323.000000,2.323000e+03,2323.000000,2.323000e+03,2323.000000,2.323000e+03,2.323000e+03,2.323000e+03,2323.000000,2323.000000,2323.0
mean,7963.00000,1194.690056,37.474559,3.758594e+04,3.922677e+04,5.850587e+04,1.512458e+04,643.727848,7.815506e+03,231.679517,7.089475e+03,84693.705426,2.836324e+04,70418.186397,4471.314815,5000.228682,4342.004737,6156.326012,4166.517227,1910.394488,2316.457795,1.095981e+04,3402.999568,6385.314631,1171.495037,6.414909e+04,9490.217523,3.528675e+04,3689.586563,17821.122739,1.044057e+04,3.335473e+03,3.864963e+04,2.800341e+04,2138.335604,2015.767484,7.488986e+04,4.309765e+04,3.179221e+04,3.139968e+04,2.835395e+04,3045.724064,3.533101e+04,8.273587e+04,6.941657e+04,7765.394255,2656.84002,2221.308569,3060.152024,3483.645134,1.228775e+04,10249.837640,1.122005e+04,7162.245478,7.682506e+04,6.237406e+04,4.087021e+04,19959.860052,1543.983969,2018.0
std,670.73666,695.202754,6.143975,1.134403e+05,1.207254e+05,1.156259e+05,5.645755e+04,1912.094198,3.091230e+04,804.209533,3.435878e+04,34761.900996,8.794295e+04,30112.753755,16465.305142,15097.554415,12349.730477,17505.962610,12466.643357,6309.640793,9547.355222,4.047475e+04,12444.254663,22943.440829,5520.808073,1.903324e+05,26305.804943,1.080214e+05,6278.018511,40813.958228,4.408217e+04,2.342996e+04,1.135335e+05,5.734896e+04,12339.056382,5896.685347,2.290006e+05,9.699457e+04,1.356433e+05,9.762276e+04,8.794409e+04,10162.446675,9.718450e+04,2.304233e+05,2.022837e+05,18920.598276,5174.20994,4788.457438,15631.846064,13342.048741,3.811597e+04,26109.667001,3.739744e+04,25604.183873,2.340214e+05,1.620096e+05,1.174308e+05,43638.596758,7289.608262,0.0
min,6802.00000,1.000000,13.200000,8.418000e+03,6.004000e+03,4.060000e+02,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,16009.000000,2.230000e+03,11762.000000,0.000000,0.000000,133.000000,195.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,3.770000e+03,36.000000,2.222000e+03,0.000000,644.000000,8.300000e+01,0.000000e+00,2.652000e+03,1.524000e+03,0.000000,0.000000,6.758000e+03,1.380000e+02,1.820000e+02,3.478000e+03,2.230000e+03,0.000000,3.478000e+03,1.861700e+04,5.559000e+03,127.000000,0.00000,0.000000,0.000000,0.000000,2.390000e+02,467.000000,4.400000e+01,0.000000,1.902300e+04,6.414000e+03,3.010000e+02,185.000000,0.000000,2018.0
25%,7382.50000,594.500000,33.900000,1.275100e+04,1.345800e+04,2.414850e+04,2.059000e+03,66.000000,1.259000e+03,0.000000,8.730000e+02,60513.000000,9.541000e+03,48622.000000,978.000000,1436.500000,1345.000000,2101.500000,1406.500000,479.000000,335.000000,2.122000e+03,439.500000,1217.500000,236.000000,2.249650e+04,3425.500000,1.191700e+04,1212.500000,5654.500000,2.814000e+03,6.560000e+02,1.313150e+04,1.027800e+04,334.500000,528.500000,2.544650e+04,1.663500e+04,7.863000e+03,1.039050e+04,9.539000e+03,572.000000,1.240650e+04,2.874850e+04,2.436200e+04,2199.500000,773.00000,493.500000,390.000000,739.000000,4.175500e+03,3493.500000,3.226500e+03,1701.000000,2.608400e+04,2.237450e+04,1.473750e+04,5569.000000,250.000000,2018.0
50%,7963.00000,1188.000000,37.200000,1.839200e+04,1.936300e+04,4.684200e+04,6.879000e+03,355.000000,4.441000e+03,56.000000,3.197000e+03,76442.000000,1.370200e+04,63942.000000,1881.000000,2406.000000,2173.000000,3176.000000,2239.000000,1000.000000,888.000000,4.457000e+03,1307.000000,2505.000000,472.000000,3.241900e+04,5193.000000,1.701900e+04,2087.000000,8418.000000,4.899000e+03,1.408000e+03,1.985200e+04,1.550300e+04,718.000000,1010.000000,3.672100e+04,2.432600e+04,1.330000e+04,1.507000e+04,1.369700e+04,1177.000000,2.158100e+04,4.779800e+04,4.092000e+04,4194.000000,1691.00000,1188.000000,943.000000,1513.000000,6.398000e+03,5155.000000,5.580000e+03,3243.000000,3.780300e+04,3.187000e+04,2.110900e+04,9897.000000,594.000000,2018.0
75%,8543.50000,1790.500000,40.700000,3.270050e+04,3.475950e+04,5.850587e+04,1.512458e+04,643.727848,7.815506e+03,231.679517,7.089475e+03,102123.000000,2.512100e+04,85727.500000,3755.000000,4407.000000,3994.500000,5582.000000,3924.000000,1862.000000,2144.000000,9.119000e+03,2879.500000,5236.500000,1041.500000,5.833850e+04,9365.000000,3.072200e+04,3980.500000,16109.000000,9.117500e+03,2.933500e+03,3.864963e+04,2.800341e+04,1751.000000,2015.767484,6.590350e+04,4.075300e+04,2.567050e+04,2.757050e+04,2.509950e+04,2505.000000,3.533101e+04,8.273587e+04,6.941657e+04,7765.394255,2656.84002,2221.308569,2404.500000,3039.000000,1.133950e+04,9389.500000,1.015000e+04,6246.500000,6.820450e+04,5.621000e+04,3.752250e+04,18916.000000,1287.500000,2018.0
max,9124.00000,2458.000000,75.800000,4.003933e+06,4.394815e+06,3.548402e+06,2.039194e+06,40653.000000,1.192303e+06,27090.000000,1.239563e+06,250001.000000,3.184496e+06,250001.000000,604736.000000,499936.000000,409867.000000,611815.000000,458542.000000,237681.000000,361919.000000,1.426628e+06,407238.000000,792936.000000,226454.000000,6.831396e+06,982356.000000,3.811905e+06,139668.000000,953768.000000,1.667095e+06,1.051374e+06,3.991561e+06,1.394185e+06,512602.000000,179656.000000,8.218043e+06,2.952763e+06,5.265280e+06,3.519453e+06,3.184496e+06,334957.000000,3.519453e+06,8.295738e+06,7.475884e+06,453927.000000,176846.00000,110624.000000,544714.000000,483683.000000,1.428628e+06,798486.000000,1.358422e+06,960655.000000,8.398748e+06,5.305662e+06,4.036335e+06,957068.000000,312259.000000,2018.0

2019

In [22]:
city_census_2019 = city_census[city_census['year']==2019]
city_census_2019.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 627
black_africa                                627
native                                      627
asian                                       627
islander                                    627
other                                       627
median_family_income                        1
household_income                            3
median_household_income                     1
household_less_20                           3
household_20_39                             3
household_40_59                             3
household_60_99                             3
household_100_149                           3
household_150_200                           3
household_200_more                          3
below_poverty                               5
below_poverty_under_18                      5
below_poverty_18_64                         5
below_poverty_65_over                       5
above_poverty                               5
above_poverty_65_over                       5
travel_time                                 0
travel_time_less_10                         0
travel_time_10_29                           0
travel_time_30_59                           0
travel_time_60_more                         0
means_transit                               127
means_transit_drove_alone                   127
means_transit_other                         127
means_transit_worked_home                   127
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         416
total_geographical_mobility                 355
same_house_1_year                           355
moved_within_same_county                    355
moved_from_diff_county_within_same_state    355
moved_from_diff_state                       355
edu_less_9                                  1
edu_9_12                                    1
edu_high_school                             1
edu_no_degree                               1
edu_bachelor_degree                         1
edu_professional_degree                     1
total_birth_in_us                           16
birth_native                                16
birth_residence_state                       16
birth_other_state                           16
birth_outside_us                            16
year                                        0
dtype: int64

In [23]:
city_census_2019.describe()

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
count,2333.000000,2333.000000,2333.000000,2.333000e+03,2.333000e+03,1.706000e+03,1.706000e+03,1706.000000,1.706000e+03,1706.000000,1.706000e+03,2332.000000,2.330000e+03,2332.000000,2330.000000,2330.000000,2330.000000,2330.000000,2330.000000,2330.000000,2330.000000,2.328000e+03,2328.000000,2328.000000,2328.000000,2.328000e+03,2.328000e+03,2.333000e+03,2333.000000,2333.000000,2.333000e+03,2.333000e+03,2.206000e+03,2.206000e+03,2206.000000,2206.000000,2.333000e+03,2.333000e+03,2.333000e+03,2.333000e+03,2.333000e+03,2333.000000,1.917000e+03,1.978000e+03,1.978000e+03,1978.000000,1978.000000,1978.000000,2332.000000,2332.000000,2.332000e+03,2332.000000,2.332000e+03,2332.000000,2.317000e+03,2.317000e+03,2.317000e+03,2317.000000,2317.000000,2333.0
mean,10291.000000,1205.258465,37.691127,3.757915e+04,3.923830e+04,5.937856e+04,1.527465e+04,678.970692,7.974611e+03,239.834115,7.178826e+03,89458.866638,2.859339e+04,74540.648799,4158.376395,4745.041631,4301.440343,6303.017597,4402.970815,2085.196567,2597.349785,1.025258e+04,3106.661512,5935.731529,1210.183849,6.478735e+04,9.762131e+03,3.558467e+04,3711.890699,17836.321903,1.057395e+04,3.462505e+03,3.923827e+04,2.828034e+04,2216.057117,2230.047597,7.488694e+04,4.338544e+04,3.150149e+04,3.160066e+04,2.856554e+04,3035.119160,3.610142e+04,8.409822e+04,7.090027e+04,7652.835187,2674.777048,2204.963094,2980.392796,3405.586192,1.236665e+04,10148.617067,1.145834e+04,7330.172384,7.685808e+04,6.248956e+04,4.097685e+04,19966.911524,1545.791109,2019.0
std,673.623411,703.948294,6.080667,1.127310e+05,1.200915e+05,1.348671e+05,6.609598e+04,2201.171667,3.627594e+04,1023.940666,3.917549e+04,36233.077601,8.870613e+04,31557.353629,15544.287245,14134.412426,12196.736047,17865.148325,13063.385887,6941.989164,10896.565637,3.778506e+04,11470.062577,21053.271534,5658.480482,1.916588e+05,2.703420e+04,1.086974e+05,6377.082160,40757.007614,4.437115e+04,2.337768e+04,1.178694e+05,5.933545e+04,13375.251147,6550.768510,2.274400e+05,9.593271e+04,1.355051e+05,9.824817e+04,8.865245e+04,10022.463149,1.078373e+05,2.487148e+05,2.178735e+05,20711.227256,5446.809598,5151.019951,14989.340870,13023.772052,3.832454e+04,25652.759179,3.776684e+04,26108.794656,2.334852e+05,1.629228e+05,1.181714e+05,43900.356852,7340.815397,0.0
min,9125.000000,1.000000,14.100000,7.861000e+03,4.944000e+03,1.135000e+03,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,20321.000000,2.076000e+03,13649.000000,0.000000,0.000000,87.000000,320.000000,0.000000,0.000000,0.000000,5.400000e+01,0.000000,0.000000,0.000000,4.987000e+03,0.000000e+00,2.741000e+03,0.000000,535.000000,1.860000e+02,0.000000e+00,3.470000e+03,1.930000e+03,0.000000,0.000000,7.487000e+03,7.700000e+01,1.370000e+02,3.536000e+03,2.076000e+03,0.000000,4.252000e+03,1.840500e+04,6.841000e+03,111.000000,0.000000,0.000000,0.000000,0.000000,2.750000e+02,625.000000,2.260000e+02,0.000000,1.900900e+04,5.793000e+03,2.710000e+02,308.000000,0.000000,2019.0
25%,9708.000000,600.000000,34.300000,1.278500e+04,1.338400e+04,2.064900e+04,1.410000e+03,0.000000,9.582500e+02,0.000000,6.145000e+02,64036.750000,9.629750e+03,51667.000000,888.500000,1320.250000,1306.500000,2137.500000,1484.500000,547.250000,406.000000,2.060750e+03,431.000000,1138.750000,232.000000,2.264750e+04,3.533500e+03,1.194600e+04,1153.000000,5545.000000,2.917000e+03,7.230000e+02,1.316175e+04,1.016825e+04,322.250000,565.000000,2.530100e+04,1.685700e+04,7.674000e+03,1.051100e+04,9.607000e+03,559.000000,1.170500e+04,2.740975e+04,2.332100e+04,1953.500000,700.500000,409.000000,397.000000,733.500000,4.129750e+03,3464.000000,3.307750e+03,1713.000000,2.611100e+04,2.258200e+04,1.469400e+04,5610.000000,244.000000,2019.0
50%,10291.000000,1199.000000,37.400000,1.840600e+04,1.923900e+04,3.377350e+04,3.746500e+03,175.500000,2.299000e+03,0.000000,1.724500e+03,81834.500000,1.384000e+04,67313.000000,1709.000000,2312.000000,2129.500000,3221.000000,2354.000000,1080.000000,1007.500000,4.112000e+03,1164.500000,2373.500000,494.500000,3.237600e+04,5.418000e+03,1.717400e+04,2163.000000,8493.000000,4.936000e+03,1.506000e+03,1.898600e+04,1.492800e+04,698.000000,1058.500000,3.679100e+04,2.413900e+04,1.308200e+04,1.510700e+04,1.381900e+04,1184.000000,1.767100e+04,4.151150e+04,3.520700e+04,3363.000000,1465.000000,980.000000,900.500000,1470.500000,6.407500e+03,5243.000000,5.599000e+03,3285.500000,3.759900e+04,3.156900e+04,2.095700e+04,9773.000000,609.000000,2019.0
75%,10874.000000,1802.000000,40.900000,3.284300e+04,3.484800e+04,5.846625e+04,1.060975e+04,557.000000,6.268750e+03,101.750000,5.138500e+03,107277.500000,2.521825e+04,90325.250000,3454.000000,4133.750000,3873.500000,5723.250000,4060.750000,1989.500000,2389.750000,8.498500e+03,2581.500000,4817.000000,1002.500000,5.776325e+04,9.442000e+03,3.150000e+04,4121.000000,15976.000000,9.032000e+03,2.940000e+03,3.426275e+04,2.671800e+04,1519.000000,2031.000000,6.626700e+04,4.156300e+04,2.507100e+04,2.774400e+04,2.519800e+04,2494.000000,3.168600e+04,7.453325e+04,6.360775e+04,6651.750000,2819.750000,2037.750000,2288.250000,2893.250000,1.125025e+04,9233.250000,1.026075e+04,6455.000000,6.758100e+04,5.511400e+04,3.712600e+04,18713.000000,1301.000000,2019.0
max,11457.000000,2507.000000,74.400000,3.979090e+06,4.357727e+06,3.531777e+06,2.060119e+06,34465.000000,1.201923e+06,31132.000000,1.190239e+06,250001.000000,3.211033e+06,250001.000000,571203.000000,458920.000000,398722.000000,624971.000000,477590.000000,263190.000000,416437.000000,1.312028e+06,372358.000000,710518.000000,229152.000000,6.870433e+06,1.013414e+06,3.845643e+06,150135.000000,972967.000000,1.678262e+06,1.044279e+06,4.032673e+06,1.409553e+06,546788.000000,187030.000000,8.139943e+06,2.860064e+06,5.279879e+06,3.546601e+06,3.211033e+06,335568.000000,3.546601e+06,8.236789e+06,7.379248e+06,483475.000000,167004.000000,121898.000000,518815.000000,476079.000000,1.446719e+06,787781.000000,1.347547e+06,977853.000000,8.336817e+06,5.315734e+06,4.056247e+06,943959.000000,315528.000000,2019.0

In [24]:
city_census_2019 = city_census_2019.apply(lambda x: x.fillna(x.mean()),axis=0)
city_census_2019.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 0
black_africa                                0
native                                      0
asian                                       0
islander                                    0
other                                       0
median_family_income                        0
household_income                            0
median_household_income                     0
household_less_20                           0
household_20_39                             0
household_40_59                             0
household_60_99                             0
household_100_149                           0
household_150_200                           0
household_200_more                          0
below_poverty                               0
below_poverty_under_18                      0
below_poverty_18_64                         0
below_poverty_65_over                       0
above_poverty                               0
above_poverty_65_over                       0
travel_time                                 0
travel_time_less_10                         0
travel_time_10_29                           0
travel_time_30_59                           0
travel_time_60_more                         0
means_transit                               0
means_transit_drove_alone                   0
means_transit_other                         0
means_transit_worked_home                   0
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         0
total_geographical_mobility                 0
same_house_1_year                           0
moved_within_same_county                    0
moved_from_diff_county_within_same_state    0
moved_from_diff_state                       0
edu_less_9                                  0
edu_9_12                                    0
edu_high_school                             0
edu_no_degree                               0
edu_bachelor_degree                         0
edu_professional_degree                     0
total_birth_in_us                           0
birth_native                                0
birth_residence_state                       0
birth_other_state                           0
birth_outside_us                            0
year                                        0
dtype: int64

In [25]:
city_census_2019.describe()

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
count,2333.000000,2333.000000,2333.000000,2.333000e+03,2.333000e+03,2.333000e+03,2.333000e+03,2333.000000,2.333000e+03,2333.000000,2.333000e+03,2333.000000,2.333000e+03,2333.000000,2333.000000,2333.000000,2333.000000,2333.000000,2333.000000,2333.000000,2333.000000,2.333000e+03,2333.000000,2333.000000,2333.000000,2.333000e+03,2.333000e+03,2.333000e+03,2333.000000,2333.000000,2.333000e+03,2.333000e+03,2.333000e+03,2.333000e+03,2333.000000,2333.000000,2.333000e+03,2.333000e+03,2.333000e+03,2.333000e+03,2.333000e+03,2333.000000,2.333000e+03,2.333000e+03,2.333000e+03,2333.000000,2333.000000,2333.000000,2333.000000,2333.000000,2.333000e+03,2333.000000,2.333000e+03,2333.000000,2.333000e+03,2.333000e+03,2.333000e+03,2333.000000,2333.000000,2333.0
mean,10291.000000,1205.258465,37.691127,3.757915e+04,3.923830e+04,5.937856e+04,1.527465e+04,678.970692,7.974611e+03,239.834115,7.178826e+03,89458.866638,2.859339e+04,74540.648799,4158.376395,4745.041631,4301.440343,6303.017597,4402.970815,2085.196567,2597.349785,1.025258e+04,3106.661512,5935.731529,1210.183849,6.478735e+04,9.762131e+03,3.558467e+04,3711.890699,17836.321903,1.057395e+04,3.462505e+03,3.923827e+04,2.828034e+04,2216.057117,2230.047597,7.488694e+04,4.338544e+04,3.150149e+04,3.160066e+04,2.856554e+04,3035.119160,3.610142e+04,8.409822e+04,7.090027e+04,7652.835187,2674.777048,2204.963094,2980.392796,3405.586192,1.236665e+04,10148.617067,1.145834e+04,7330.172384,7.685808e+04,6.248956e+04,4.097685e+04,19966.911524,1545.791109,2019.0
std,673.623411,703.948294,6.080667,1.127310e+05,1.200915e+05,1.153198e+05,5.651620e+04,1882.139602,3.101820e+04,875.533384,3.349749e+04,36225.308098,8.864905e+04,31550.586747,15534.285557,14125.317897,12188.888281,17853.653322,13054.980490,6937.522468,10889.554442,3.774453e+04,11457.759600,21030.689449,5652.411103,1.914532e+05,2.700520e+04,1.086974e+05,6377.082160,40757.007614,4.437115e+04,2.337768e+04,1.146149e+05,5.769714e+04,13005.946685,6369.895043,2.274400e+05,9.593271e+04,1.355051e+05,9.824817e+04,8.865245e+04,10022.463149,9.774678e+04,2.290028e+05,2.006058e+05,19069.745436,5015.119152,4742.772506,14986.126687,13020.979349,3.831633e+04,25647.258426,3.775874e+04,26103.196115,2.326828e+05,1.623629e+05,1.177654e+05,43749.496073,7315.589153,0.0
min,9125.000000,1.000000,14.100000,7.861000e+03,4.944000e+03,1.135000e+03,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,20321.000000,2.076000e+03,13649.000000,0.000000,0.000000,87.000000,320.000000,0.000000,0.000000,0.000000,5.400000e+01,0.000000,0.000000,0.000000,4.987000e+03,0.000000e+00,2.741000e+03,0.000000,535.000000,1.860000e+02,0.000000e+00,3.470000e+03,1.930000e+03,0.000000,0.000000,7.487000e+03,7.700000e+01,1.370000e+02,3.536000e+03,2.076000e+03,0.000000,4.252000e+03,1.840500e+04,6.841000e+03,111.000000,0.000000,0.000000,0.000000,0.000000,2.750000e+02,625.000000,2.260000e+02,0.000000,1.900900e+04,5.793000e+03,2.710000e+02,308.000000,0.000000,2019.0
25%,9708.000000,600.000000,34.300000,1.278500e+04,1.338400e+04,2.480800e+04,2.072000e+03,59.000000,1.352000e+03,0.000000,9.920000e+02,64053.000000,9.638000e+03,51672.000000,890.000000,1321.000000,1308.000000,2139.000000,1486.000000,548.000000,406.000000,2.062000e+03,435.000000,1139.000000,233.000000,2.265600e+04,3.536000e+03,1.194600e+04,1153.000000,5545.000000,2.917000e+03,7.230000e+02,1.336800e+04,1.038500e+04,342.000000,589.000000,2.530100e+04,1.685700e+04,7.674000e+03,1.051100e+04,9.607000e+03,559.000000,1.263500e+04,2.962400e+04,2.496400e+04,2178.000000,824.000000,486.000000,397.000000,734.000000,4.131000e+03,3464.000000,3.308000e+03,1713.000000,2.613800e+04,2.263700e+04,1.473600e+04,5641.000000,246.000000,2019.0
50%,10291.000000,1199.000000,37.400000,1.840600e+04,1.923900e+04,4.871700e+04,7.947000e+03,418.000000,5.019000e+03,58.000000,3.618000e+03,81842.000000,1.384600e+04,67321.000000,1714.000000,2314.000000,2131.000000,3224.000000,2357.000000,1082.000000,1010.000000,4.123000e+03,1170.000000,2392.000000,495.000000,3.240700e+04,5.425000e+03,1.717400e+04,2163.000000,8493.000000,4.936000e+03,1.506000e+03,2.038300e+04,1.569700e+04,768.000000,1134.000000,3.679100e+04,2.413900e+04,1.308200e+04,1.510700e+04,1.381900e+04,1184.000000,2.271200e+04,5.039800e+04,4.299600e+04,4127.000000,1821.000000,1215.000000,901.000000,1471.000000,6.409000e+03,5244.000000,5.600000e+03,3286.000000,3.801500e+04,3.174600e+04,2.109300e+04,9873.000000,611.000000,2019.0
75%,10874.000000,1802.000000,40.900000,3.284300e+04,3.484800e+04,5.937856e+04,1.527465e+04,678.970692,7.974611e+03,239.834115,7.178826e+03,107261.000000,2.527900e+04,90324.000000,3470.000000,4153.000000,3884.000000,5772.000000,4068.000000,1997.000000,2394.000000,8.561000e+03,2604.000000,4842.000000,1008.000000,5.804900e+04,9.476000e+03,3.150000e+04,4121.000000,15976.000000,9.032000e+03,2.940000e+03,3.923827e+04,2.828034e+04,1777.000000,2230.047597,6.626700e+04,4.156300e+04,2.507100e+04,2.774400e+04,2.519800e+04,2494.000000,3.610142e+04,8.409822e+04,7.090027e+04,7652.835187,2674.777048,2204.963094,2295.000000,2900.000000,1.125100e+04,9237.000000,1.026900e+04,6461.000000,6.852200e+04,5.584500e+04,3.764000e+04,19128.000000,1321.000000,2019.0
max,11457.000000,2507.000000,74.400000,3.979090e+06,4.357727e+06,3.531777e+06,2.060119e+06,34465.000000,1.201923e+06,31132.000000,1.190239e+06,250001.000000,3.211033e+06,250001.000000,571203.000000,458920.000000,398722.000000,624971.000000,477590.000000,263190.000000,416437.000000,1.312028e+06,372358.000000,710518.000000,229152.000000,6.870433e+06,1.013414e+06,3.845643e+06,150135.000000,972967.000000,1.678262e+06,1.044279e+06,4.032673e+06,1.409553e+06,546788.000000,187030.000000,8.139943e+06,2.860064e+06,5.279879e+06,3.546601e+06,3.211033e+06,335568.000000,3.546601e+06,8.236789e+06,7.379248e+06,483475.000000,167004.000000,121898.000000,518815.000000,476079.000000,1.446719e+06,787781.000000,1.347547e+06,977853.000000,8.336817e+06,5.315734e+06,4.056247e+06,943959.000000,315528.000000,2019.0

merging all the 4 separate data sets

In [26]:
frame_1 = [city_census_2016,city_census_2017,city_census_2018,city_census_2019]
city_census_cleaned = pd.concat(frame_1)
city_census_cleaned.head()

,Census_ID,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us,year
0,4026,1608,35.8,33576,38782,61904.0,4394.0,321.0,2502.0,99.0,915.0,78288.0,29102.0,56808.0,4564.0,5569.0,5244.0,6888.0,3839.0,1809.0,1189.0,8868.0,2680.0,5911.0,277.0,60917.0,9832.0,38103.0,6261.0,21407.0,9527.0,908.0,39388.0,33460.0,1154.0,1285.0,69543,44772,24771,30865,29102,1763,30865.0,71931.0,59910.0,7309.0,2672.0,1492.0,980.0,2616.0,12230.0,10073.0,10970.0,5610.0,72358.0,68312.0,52445.0,15374.0,493.0,2016
1,4027,1609,37.8,19178,19694,31181.0,185.0,238.0,5405.0,0.0,221.0,53878.0,16312.0,41226.0,2974.0,5028.0,3068.0,3772.0,793.0,254.0,423.0,8595.0,3318.0,4650.0,627.0,28858.0,5616.0,16982.0,4137.0,10951.0,1749.0,145.0,17514.0,14636.0,735.0,532.0,37885,23368,14517,17679,16312,1367,17679.0,38442.0,32713.0,3804.0,1506.0,419.0,1049.0,1449.0,8830.0,4676.0,4528.0,1922.0,38872.0,36297.0,26777.0,9300.0,220.0,2016
2,4028,1610,37.9,23856,24084,41235.0,1555.0,324.0,2391.0,0.0,430.0,102471.0,19604.0,79384.0,2059.0,2362.0,3236.0,4377.0,3559.0,1981.0,2030.0,2000.0,0.0,1244.0,756.0,45384.0,6217.0,24137.0,3326.0,16261.0,4073.0,477.0,25370.0,21049.0,762.0,1233.0,47227,34438,12789,20290,19604,686,20290.0,46960.0,40526.0,3261.0,1316.0,1491.0,87.0,623.0,4898.0,5210.0,11501.0,8611.0,47940.0,44959.0,35093.0,9629.0,237.0,2016
3,4029,1611,38.5,29889,30197,48892.0,3334.0,971.0,1395.0,0.0,3252.0,66069.0,28055.0,49243.0,5448.0,5515.0,5701.0,7779.0,2786.0,446.0,380.0,7711.0,1635.0,4954.0,1122.0,51743.0,6924.0,31057.0,3942.0,18947.0,6971.0,1197.0,31637.0,26747.0,864.0,580.0,59256,34132,25124,29761,28055,1706,29761.0,59617.0,53169.0,4905.0,845.0,297.0,1109.0,2228.0,15992.0,9769.0,7945.0,3063.0,60086.0,56511.0,48312.0,7344.0,855.0,2016
4,4030,1612,40.3,15215,16486,29207.0,472.0,0.0,341.0,0.0,854.0,71615.0,13259.0,59445.0,1611.0,2326.0,2722.0,3459.0,1835.0,995.0,311.0,1920.0,410.0,897.0,613.0,29486.0,5907.0,15304.0,3581.0,5912.0,5088.0,723.0,15898.0,13366.0,130.0,594.0,31385,22033,9352,14128,13259,869,14128.0,31448.0,27670.0,2150.0,1032.0,596.0,662.0,667.0,6730.0,4977.0,4718.0,1563.0,31701.0,30759.0,26656.0,3988.0,115.0,2016

In [27]:
city_census_cleaned.isnull().sum()

Census_ID                                   0
city_id                                     0
median_age                                  0
male                                        0
female                                      0
white_alone                                 0
black_africa                                0
native                                      0
asian                                       0
islander                                    0
other                                       0
median_family_income                        0
household_income                            0
median_household_income                     0
household_less_20                           0
household_20_39                             0
household_40_59                             0
household_60_99                             0
household_100_149                           0
household_150_200                           0
household_200_more                          0
below_poverty                               0
below_poverty_under_18                      0
below_poverty_18_64                         0
below_poverty_65_over                       0
above_poverty                               0
above_poverty_65_over                       0
travel_time                                 0
travel_time_less_10                         0
travel_time_10_29                           0
travel_time_30_59                           0
travel_time_60_more                         0
means_transit                               0
means_transit_drove_alone                   0
means_transit_other                         0
means_transit_worked_home                   0
total_pop_in_occupied_housing               0
owner_occupied                              0
renter_occupied                             0
total_occupancy                             0
occupied                                    0
vacant                                      0
total_housing_units                         0
total_geographical_mobility                 0
same_house_1_year                           0
moved_within_same_county                    0
moved_from_diff_county_within_same_state    0
moved_from_diff_state                       0
edu_less_9                                  0
edu_9_12                                    0
edu_high_school                             0
edu_no_degree                               0
edu_bachelor_degree                         0
edu_professional_degree                     0
total_birth_in_us                           0
birth_native                                0
birth_residence_state                       0
birth_other_state                           0
birth_outside_us                            0
year                                        0
dtype: int64

In [28]:
city_census_cleaned = city_census_cleaned.drop('year',axis=1)

In [29]:
city_census_cleaned = city_census_cleaned.drop('Census_ID',axis=1)
city_census_cleaned.head()

,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us
0,1608,35.8,33576,38782,61904.0,4394.0,321.0,2502.0,99.0,915.0,78288.0,29102.0,56808.0,4564.0,5569.0,5244.0,6888.0,3839.0,1809.0,1189.0,8868.0,2680.0,5911.0,277.0,60917.0,9832.0,38103.0,6261.0,21407.0,9527.0,908.0,39388.0,33460.0,1154.0,1285.0,69543,44772,24771,30865,29102,1763,30865.0,71931.0,59910.0,7309.0,2672.0,1492.0,980.0,2616.0,12230.0,10073.0,10970.0,5610.0,72358.0,68312.0,52445.0,15374.0,493.0
1,1609,37.8,19178,19694,31181.0,185.0,238.0,5405.0,0.0,221.0,53878.0,16312.0,41226.0,2974.0,5028.0,3068.0,3772.0,793.0,254.0,423.0,8595.0,3318.0,4650.0,627.0,28858.0,5616.0,16982.0,4137.0,10951.0,1749.0,145.0,17514.0,14636.0,735.0,532.0,37885,23368,14517,17679,16312,1367,17679.0,38442.0,32713.0,3804.0,1506.0,419.0,1049.0,1449.0,8830.0,4676.0,4528.0,1922.0,38872.0,36297.0,26777.0,9300.0,220.0
2,1610,37.9,23856,24084,41235.0,1555.0,324.0,2391.0,0.0,430.0,102471.0,19604.0,79384.0,2059.0,2362.0,3236.0,4377.0,3559.0,1981.0,2030.0,2000.0,0.0,1244.0,756.0,45384.0,6217.0,24137.0,3326.0,16261.0,4073.0,477.0,25370.0,21049.0,762.0,1233.0,47227,34438,12789,20290,19604,686,20290.0,46960.0,40526.0,3261.0,1316.0,1491.0,87.0,623.0,4898.0,5210.0,11501.0,8611.0,47940.0,44959.0,35093.0,9629.0,237.0
3,1611,38.5,29889,30197,48892.0,3334.0,971.0,1395.0,0.0,3252.0,66069.0,28055.0,49243.0,5448.0,5515.0,5701.0,7779.0,2786.0,446.0,380.0,7711.0,1635.0,4954.0,1122.0,51743.0,6924.0,31057.0,3942.0,18947.0,6971.0,1197.0,31637.0,26747.0,864.0,580.0,59256,34132,25124,29761,28055,1706,29761.0,59617.0,53169.0,4905.0,845.0,297.0,1109.0,2228.0,15992.0,9769.0,7945.0,3063.0,60086.0,56511.0,48312.0,7344.0,855.0
4,1612,40.3,15215,16486,29207.0,472.0,0.0,341.0,0.0,854.0,71615.0,13259.0,59445.0,1611.0,2326.0,2722.0,3459.0,1835.0,995.0,311.0,1920.0,410.0,897.0,613.0,29486.0,5907.0,15304.0,3581.0,5912.0,5088.0,723.0,15898.0,13366.0,130.0,594.0,31385,22033,9352,14128,13259,869,14128.0,31448.0,27670.0,2150.0,1032.0,596.0,662.0,667.0,6730.0,4977.0,4718.0,1563.0,31701.0,30759.0,26656.0,3988.0,115.0

In [30]:
city_census_cleaned = city_census_cleaned.groupby('city_id').agg(['mean']).reset_index()
city_census_cleaned

,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us
,,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
0,1,39.466667,16250.000000,17093.666667,35653.185619,8921.216295,253.323564,2716.536928,79.944705,4044.608636,84185.000000,11753.000000,71370.666667,979.333333,2059.666667,1755.333333,2977.666667,2853.666667,615.666667,511.666667,2403.666667,1007.000000,1109.333333,287.333333,30598.000000,3442.000000,15968.333333,913.666667,6281.000000,6560.666667,2213.000000,16833.666667,14500.000000,194.333333,865.333333,33060.000000,28059.666667,5000.333333,12355.000000,11753.000000,602.0,28135.627605,32926.000000,28319.333333,2359.333333,994.333333,1253.000000,435.666667,1414.666667,5021.000000,5556.000000,4824.333333,3030.000000,33343.666667,31417.000000,21250.666667,9668.000000,498.333333
1,2,31.833333,10686.666667,12834.333333,33403.128398,5423.620397,272.621361,2681.618084,77.255446,3066.037594,51624.666667,7725.333333,45917.666667,1768.000000,1642.666667,1496.333333,1500.666667,868.000000,204.666667,245.000000,5636.666667,2598.666667,2635.666667,402.333333,17547.333333,2289.000000,9479.666667,2790.000000,4838.000000,1048.333333,803.333333,19285.757328,14725.445905,781.019039,920.349199,23166.666667,12455.333333,10711.333333,8281.333333,7725.333333,556.0,8281.333333,43314.740647,37193.755308,3722.278396,1113.259016,1035.321031,1625.000000,1912.666667,3917.000000,2727.333333,1817.666667,679.000000,23521.000000,19905.333333,14678.666667,4918.666667,308.000000
2,3,42.500000,9926.666667,12434.333333,42305.141124,14362.408279,454.566180,5391.705705,157.171211,4780.433531,44740.666667,9854.333333,35290.666667,3243.666667,2175.666667,1660.666667,1200.333333,1025.666667,303.000000,245.333333,5453.333333,2018.666667,2967.000000,467.666667,15935.000000,3895.000000,8112.333333,1242.000000,4738.333333,1425.666667,706.333333,18893.090662,13399.779238,922.685706,1175.682532,21347.333333,11363.000000,9984.333333,12473.333333,9854.333333,2619.0,12473.333333,42824.073980,35706.755308,4435.611729,1408.592349,1019.654365,677.000000,1827.333333,5577.000000,3567.000000,1707.000000,1494.333333,22361.000000,21909.000000,16031.333333,5759.666667,118.000000
3,4,41.533333,12806.666667,13599.666667,19557.000000,4636.666667,218.666667,504.333333,76.333333,796.666667,75260.000000,9668.333333,51614.666667,2162.666667,1965.000000,1305.333333,1819.333333,1309.000000,551.000000,556.000000,4112.666667,1315.666667,2168.666667,628.333333,21711.000000,4170.666667,10436.333333,1954.333333,4062.000000,4109.000000,311.000000,38756.570592,28028.630960,2158.924602,2074.627984,25791.666667,17296.666667,8495.000000,10873.333333,9668.333333,1205.0,10873.333333,26126.666667,22290.666667,1957.333333,1245.666667,550.333333,717.000000,1689.666667,5426.000000,2723.666667,4271.333333,1632.333333,26406.333333,25672.000000,18006.666667,7541.333333,124.000000
4,5,25.466667,32551.000000,32771.666667,46716.333333,11135.000000,138.000000,5996.666667,0.000000,186.666667,94779.333333,24322.333333,48099.666667,6662.666667,4272.333333,2794.333333,3842.666667,3325.666667,1589.333333,1835.333333,15059.333333,1511.666667,13272.333333,275.333333,44960.333333,5417.333333,29558.000000,5485.333333,18499.666667,4371.333333,1201.666667,30724.333333,24320.666667,2354.333333,1166.333333,60002.000000,33064.666667,26937.333333,29288.333333,24322.333333,4966.0,29288.333333,64664.666667,48020.666667,6737.000000,5225.666667,4048.333333,514.666667,777.666667,3942.333333,6101.666667,10481.333333,9135.333333,65322.666667,58458.333333,34973.333333,22735.666667,749.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,2503,30.000000,13571.000000,15252.000000,59378.556858,15274.648886,678.970692,7974.610785,239.834115,7178.825909,46128.000000,7859.000000,48594.000000,1685.000000,1409.000000,1065.000000,1816.000000,697.000000,451.000000,736.000000,8470.000000,4965.000000,3505.000000,0.000000,20187.000000,2586.000000,12458.000000,525.000000,4397.000000,5957.000000,1579.000000,12721.000000,7160.000000,498.000000,263.000000,28638.000000,11050.000000,17588.000000,7859.000000,7859.000000,0.0,7859.000000,84098.221941,70900.265925,7652.835187,2674.777048,2204.963094,3082.000000,435.000000,3879.000000,3218.000000,2045.000000,1398.000000,28823.000000,17535.000000,12908.000000,3926.000000,701.000000
2465,2504,34.200000,10234.000000,10660.000000,9607.000000,7478.000000,0.000000,2220.000000,85.000000,1123.000000,122335.000000,6546.000000,121704.000000,54.000000,67.000000,911.000000,1161.000000,2326.000000,1195.000000,832.000000,1004.000000,214.000000,790.000000,0.000000,19728.000000,1124.000000,11089.000000,161.000000,2975.000000,5101.000000,2852.000000,11429.000000,8026.000000,615.000000,340.000000,20779.000000,12786.000000,7993.000000,6546.000000,6546.000000,0.0,36101.423579,20708.000000,16869.000000,967.000000,1170.000000,1281.000000,467.000000,473.000000,2162.000000,3169.000000,3643.000000,2392.000000,20894.000000,16240.000000,6516.000000,8658.000000,1066.000000
2466,2505,29.900000,10171.000000,10131.000000,59378.556858,15274.648886,678.970692,7974.610785,239.834115,7178.825909,83515.000000,6211.000000,71296.000000,691.000000,356.000000,1578.000000,2043.000000,1045.000000,254.000000,244.000000,2610.000000,1183.000000,745.000000,682.000000,17486.000000,2320.000000,8096.000000,2622.000000,2771.000000,2599.000000,104.000000,39238.271985,28280.337715,2216.057117,2230.047597,20075.000000,14125.000000,5950.000000,6489.000000,6211.000000,278.0,6489.000000,84098.221941,70900.265925,7652.835187,2674.777048,2204.963094,599.000000,1014.000000,3262.000000,2783.000000,1047.000000,1009.000000,20302.000000,17958.000000,11108.000000,6541.000000,309.000000
2467,2506,33.200000,12317.000000,9203.000000,16817.000000,1142.000000,183.000000,669.000000,213.000000,628.000000,99020.000000,5955.000000,94211.000000,503.000000,222.000000,717.000000,2071.000000,1591.000000,495.000000,356.000000,1228.000000,248.000000,980.000000,0.000000,16710.000000,1572.000000,9826.000000,1432.000000,2915.000000,4456.000000,1023.000000,10130.000000,6868.000000,491.000000,304.000000,18016.000000,10772.000000,7244.000000,6323.000000,5955.000000,368.0,36101.423579,84098.221941,70900.265925,7652.835187,2674.777048,2204.963094,313.000000,986.000000,3449.000000,4681.000000,2387.000000,915.000000,21520.000000,19194.000000,11844.000000,6524.000000,826.000000
2468,2507,37.600000,10292.000000,10552.000000,59378.556858,15274.648886,678.970692,7974.610785,239.834115,7178.825909,52206.000000,10041.000000,51056.000000,1092.000000,2042.000000,2907.000000,2258.000000,1191.000000,324.000000,227.000000,902.000000,209.000000,652.000000,41.000000,19866.000000,3880.000000,9575.000000,1157.000000,6155.000000,602.000000,1661.000000,10877.000000,7612.000000,161.000000,1302.000000,20730.000000,12985.000000,7745.000000,10240.000000,10041.000000,199.0,10240.000000,84098.221941,70900.265925,7652.835187,2674.777048,2204.963094,575.000000,1451.000000,3634.000000,2643.000000,2936.000000,1718.000000,20844.000000,18856.000000,15938.000000,2779.000000,139.000000

In [31]:
city_census_cleaned.describe()

,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us
,,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
count,2469.000000,2469.000000,2.469000e+03,2.469000e+03,2.469000e+03,2.469000e+03,2469.000000,2.469000e+03,2469.000000,2.469000e+03,2469.000000,2.469000e+03,2469.000000,2469.000000,2469.000000,2469.000000,2469.000000,2469.000000,2469.000000,2469.000000,2.469000e+03,2469.000000,2469.000000,2469.000000,2.469000e+03,2469.000000,2.469000e+03,2469.000000,2469.000000,2.469000e+03,2.469000e+03,2.469000e+03,2.469000e+03,2469.000000,2469.000000,2.469000e+03,2.469000e+03,2.469000e+03,2.469000e+03,2.469000e+03,2469.000000,2.469000e+03,2.469000e+03,2.469000e+03,2469.000000,2469.000000,2469.000000,2469.000000,2469.000000,2.469000e+03,2469.000000,2.469000e+03,2469.000000,2.469000e+03,2.469000e+03,2.469000e+03,2469.000000,2469.000000
mean,1248.818145,37.397286,3.592967e+04,3.751762e+04,5.819720e+04,1.504537e+04,635.493771,7.748256e+03,232.505600,7.120515e+03,84887.239875,2.707206e+04,70915.293087,4240.219111,4745.952559,4149.298666,5911.780948,3990.245950,1834.774391,2199.789774,1.039932e+04,3237.371954,6056.853412,1105.092264,6.142798e+04,9059.346905,3.369511e+04,3558.229194,16980.418579,9.949962e+03,3.206503e+03,3.738585e+04,2.704639e+04,2071.666830,1991.359802,7.160715e+04,4.128460e+04,3.032256e+04,2.995741e+04,2.704283e+04,2914.578811,3.456223e+04,8.088718e+04,6.790860e+04,7561.403369,2592.251756,2143.653551,2926.810940,3342.706824,1.182081e+04,9809.977807,1.067517e+04,6782.200115,7.350519e+04,5.974636e+04,3.925302e+04,19034.788986,1458.552502
std,723.493867,5.796310,1.106134e+05,1.178289e+05,1.123406e+05,5.509530e+04,1736.925331,3.022793e+04,763.794625,3.367562e+04,34276.683363,8.514589e+04,29925.956408,16101.572502,14558.773069,11976.985368,17049.973923,12001.382218,6085.464511,9067.951277,3.969632e+04,12222.591336,22582.791514,5227.884749,1.853887e+05,25378.342783,1.052637e+05,6129.752755,39619.313859,4.284967e+04,2.282900e+04,1.105805e+05,5.547398e+04,12157.609477,5782.326955,2.234443e+05,9.404886e+04,1.330923e+05,9.457646e+04,8.514933e+04,9860.559571,9.402730e+04,2.244412e+05,1.970055e+05,18393.068911,4841.239040,4557.413424,15107.343932,13317.117759,3.735576e+04,25436.301431,3.590045e+04,24649.731381,2.283031e+05,1.580315e+05,1.149644e+05,42195.687268,7012.269305
min,1.000000,13.750000,7.861000e+03,6.283667e+03,1.534000e+03,5.800000e+01,0.000000,0.000000e+00,0.000000,0.000000e+00,19782.500000,2.755667e+03,12581.750000,0.000000,0.000000,116.000000,313.000000,0.000000,0.000000,0.000000,1.960000e+02,0.000000,0.000000,0.000000,5.281000e+03,29.000000,2.327000e+03,0.000000,607.333333,1.990000e+02,0.000000e+00,2.827333e+03,1.570000e+03,0.000000,0.000000,7.590000e+03,1.560000e+02,1.370000e+02,3.887333e+03,2.755667e+03,0.000000,4.020333e+03,1.881600e+04,6.457667e+03,89.000000,0.000000,0.000000,0.000000,17.000000,2.520000e+02,523.666667,1.715000e+02,35.500000,1.916350e+04,5.723500e+03,7.623333e+02,308.000000,0.000000
25%,624.000000,34.166667,1.218200e+04,1.270125e+04,2.957180e+04,3.244750e+03,187.333333,2.149000e+03,20.666667,1.656750e+03,60688.666667,9.086750e+03,49130.500000,939.500000,1388.750000,1313.000000,2035.666667,1376.000000,475.000000,338.000000,2.206500e+03,544.000000,1234.000000,246.333333,2.143525e+04,3279.500000,1.136133e+04,1193.000000,5362.666667,2.820000e+03,6.750000e+02,1.334533e+04,1.036667e+04,404.250000,615.000000,2.421733e+04,1.590667e+04,7.592333e+03,9.818000e+03,9.069000e+03,575.000000,1.297600e+04,3.167200e+04,2.634567e+04,2617.333333,1017.522783,695.666667,416.666667,752.500000,4.043667e+03,3388.333333,3.092750e+03,1592.000000,2.490475e+04,2.130833e+04,1.433900e+04,5475.000000,275.000000
50%,1247.000000,37.133333,1.731200e+04,1.825425e+04,4.495100e+04,8.468162e+03,391.000000,4.642333e+03,107.000000,3.921147e+03,77359.333333,1.308025e+04,64370.666667,1753.666667,2274.666667,2041.666667,3020.000000,2099.000000,948.500000,821.666667,4.198250e+03,1274.666667,2393.333333,463.000000,3.063667e+04,4904.666667,1.614867e+04,2048.333333,8003.000000,4.592667e+03,1.390500e+03,2.030388e+04,1.557614e+04,797.000000,1043.000000,3.481933e+04,2.289733e+04,1.251267e+04,1.425533e+04,1.302933e+04,1103.000000,2.180050e+04,5.050762e+04,4.256325e+04,4359.383635,1696.000000,1227.500000,913.250000,1476.333333,5.980500e+03,4972.666667,5.161333e+03,3045.666667,3.594367e+04,3.035000e+04,1.991567e+04,9488.333333,577.666667
75%,1875.000000,40.600000,3.148167e+04,3.296833e+04,5.875827e+04,1.516536e+04,643.520874,7.855990e+03,234.426657,7.188138e+03,102562.000000,2.406800e+04,86163.333333,3527.750000,4148.000000,3748.500000,5357.333333,3715.666667,1758.666667,2009.666667,8.549333e+03,2703.333333,4893.666667,915.666667,5.533067e+04,8805.000000,2.941700e+04,3808.750000,15094.000000,8.446500e+03,2.740333e+03,3.406833e+04,2.627150e+04,1499.000000,1843.666667,6.324275e+04,3.937267e+04,2.413900e+04,2.644300e+04,2.405333e+04,2371.000000,3.551330e+04,8.047867e+04,6.754867e+04,7281.181720,2647.728472,2158.522293,2252.333333,2804.666667,1.078000e+04,8898.000000,9.666333e+03,5922.333333,6.543367e+04,5.375000e+04,3.540167e+04,18010.666667,1191.000000
max,2507.000000,75.433333,4.042801e+06,4.431183e+06,3.585836e+06,2.066637e+06,35942.666667,1.213182e+06,27018.333333,1.256007e+06,250001.000000,3.167504e+06,250001.000000,611593.250000,499480.000000,407394.500000,615130.000000,450375.750000,234551.250000,348978.750000,1.461954e+06,423405.750000,818961.500000,219586.500000,6.868333e+06,973359.500000,3.847494e+06,144704.250000,967821.000000,1.679168e+06,1.055801e+06,4.026042e+06,1.397605e+06,524371.750000,178548.000000,8.291516e+06,2.932844e+06,5.358672e+06,3.506817e+06,3.167504e+06,339313.500000,3.506817e+06,8.371031e+06,7.533590e+06,462771.250000,167652.000000,118177.250000,546505.500000,509731.750000,1.452268e+06,810116.000000,1.326382e+06,953775.250000,8.473984e+06,5.346652e+06,4.087958e+06,946854.000000,311840.000000

In [32]:
#default values
median_age = 37.3
male = 35929
female = 37517
white_alone = 58197
black_africa = 15045
native = 635
asian = 7748
islander = 232
other = 7120
median_family_income = 84887
household_income = 27072
median_household_income = 70915
household_less_20 = 4240
household_20_39 = 4745
household_40_59 = 4149
household_60_99 = 5911
household_100_149 = 3990
household_150_200 = 1834
household_200_more = 2199
below_poverty = 10399
below_poverty_under_18 = 3237
below_poverty_18_64 = 6056
below_poverty_65_over = 1105
above_poverty = 61427
above_poverty_65_over = 9059
travel_time = 33695
travel_time_less_10 = 3558
travel_time_10_29 = 16980
travel_time_30_59 = 9949
travel_time_60_more = 3206
means_transit = 37385
means_transit_drove_alone = 27046
means_transit_other = 2071
means_transit_worked_home = 1991
total_pop_in_occupied_housing = 71607
owner_occupied = 41284
renter_occupied = 30322
total_occupancy = 29957
occupied = 27042
vacant = 2914
total_housing_units = 34562
total_geographical_mobility = 80887
same_house_1_year = 67908
moved_within_same_county = 7561
moved_from_diff_county_within_same_state = 2592
moved_from_diff_state = 2143
edu_less_9 = 2926
edu_9_12 = 3342
edu_high_school = 11820
edu_no_degree = 9809
edu_bachelor_degree = 10675
edu_professional_degree = 6782
total_birth_in_us = 73505
birth_native = 59746
birth_residence_state = 39253
birth_other_state = 19034
birth_outside_us = 1458

Selecting the variables

In [33]:
x = city_census_cleaned.loc[:,['median_age', 'male', 'female', 'white_alone',
       'black_africa', 'native', 'asian', 'islander', 'other',
       'median_family_income', 'household_income', 'median_household_income',
       'household_less_20', 'household_20_39', 'household_40_59',
       'household_60_99', 'household_100_149', 'household_150_200',
       'household_200_more', 'below_poverty', 'below_poverty_under_18',
       'below_poverty_18_64', 'below_poverty_65_over', 'above_poverty',
       'above_poverty_65_over', 'travel_time', 'travel_time_less_10',
       'travel_time_10_29', 'travel_time_30_59', 'travel_time_60_more',
       'means_transit', 'means_transit_drove_alone', 'means_transit_other',
       'means_transit_worked_home', 'total_pop_in_occupied_housing',
       'owner_occupied', 'renter_occupied', 'total_occupancy', 'occupied',
       'vacant', 'total_housing_units', 'total_geographical_mobility',
       'same_house_1_year', 'moved_within_same_county',
       'moved_from_diff_county_within_same_state', 'moved_from_diff_state',
       'edu_less_9', 'edu_9_12', 'edu_high_school', 'edu_no_degree',
       'edu_bachelor_degree', 'edu_professional_degree', 'total_birth_in_us',
       'birth_native', 'birth_residence_state', 'birth_other_state',
       'birth_outside_us']].values

In [34]:
nbrs = NearestNeighbors(n_neighbors=5).fit(x)

10% to female,30% to white people, 20% to above poverty, 10% to travel time less than 10, 20% to education high school, 10% to householf income 60 to 99.

In [35]:
female = female + ((10*female)/100)
white_alone = white_alone + ((30*white_alone)/100)
above_poverty = above_poverty + ((20*above_poverty)/100)
travel_time_less_10 = travel_time_less_10 + ((10 * travel_time_less_10)/100)
edu_high_school = edu_high_school + ((20*edu_high_school)/100)
household_60_99 = household_60_99 + ((10 * household_60_99)/100)

In [36]:
female

41268.7

In [37]:
inp = [median_age, male, female, white_alone,
       black_africa, native, asian, islander, other,
       median_family_income, household_income, median_household_income,
       household_less_20, household_20_39, household_40_59,
       household_60_99, household_100_149, household_150_200,
       household_200_more, below_poverty, below_poverty_under_18,
       below_poverty_18_64, below_poverty_65_over, above_poverty,
       above_poverty_65_over, travel_time, travel_time_less_10,
       travel_time_10_29, travel_time_30_59, travel_time_60_more,
       means_transit, means_transit_drove_alone, means_transit_other,
       means_transit_worked_home, total_pop_in_occupied_housing,
       owner_occupied, renter_occupied, total_occupancy, occupied,
       vacant, total_housing_units, total_geographical_mobility,
       same_house_1_year, moved_within_same_county,
       moved_from_diff_county_within_same_state, moved_from_diff_state,
       edu_less_9, edu_9_12, edu_high_school, edu_no_degree,
       edu_bachelor_degree, edu_professional_degree, total_birth_in_us,
       birth_native, birth_residence_state, birth_other_state,
       birth_outside_us]
inp

[37.3,
 35929,
 41268.7,
 75656.1,
 15045,
 635,
 7748,
 232,
 7120,
 84887,
 27072,
 70915,
 4240,
 4745,
 4149,
 6502.1,
 3990,
 1834,
 2199,
 10399,
 3237,
 6056,
 1105,
 73712.4,
 9059,
 33695,
 3913.8,
 16980,
 9949,
 3206,
 37385,
 27046,
 2071,
 1991,
 71607,
 41284,
 30322,
 29957,
 27042,
 2914,
 34562,
 80887,
 67908,
 7561,
 2592,
 2143,
 2926,
 3342,
 14184.0,
 9809,
 10675,
 6782,
 73505,
 59746,
 39253,
 19034,
 1458]

In [38]:
nbrs.kneighbors([inp])

(array([[33382.45094017, 34097.90297834, 34116.18125445, 34336.50575906,
         34598.94015422]]), array([[1340, 1239, 1486,  733, 1590]]))

In [39]:
city_census_cleaned.iloc[[1340,1239,1486,733,1590]]

,city_id,median_age,male,female,white_alone,black_africa,native,asian,islander,other,median_family_income,household_income,median_household_income,household_less_20,household_20_39,household_40_59,household_60_99,household_100_149,household_150_200,household_200_more,below_poverty,below_poverty_under_18,below_poverty_18_64,below_poverty_65_over,above_poverty,above_poverty_65_over,travel_time,travel_time_less_10,travel_time_10_29,travel_time_30_59,travel_time_60_more,means_transit,means_transit_drove_alone,means_transit_other,means_transit_worked_home,total_pop_in_occupied_housing,owner_occupied,renter_occupied,total_occupancy,occupied,vacant,total_housing_units,total_geographical_mobility,same_house_1_year,moved_within_same_county,moved_from_diff_county_within_same_state,moved_from_diff_state,edu_less_9,edu_9_12,edu_high_school,edu_no_degree,edu_bachelor_degree,edu_professional_degree,total_birth_in_us,birth_native,birth_residence_state,birth_other_state,birth_outside_us
,,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
1340,1353,39.025000,33405.250000,37031.500000,57556.250000,3935.000000,665.000000,2552.000000,39.000000,3093.750000,85107.750000,26991.250000,68204.25,2488.750000,4638.500000,4745.250000,6575.000000,4368.500000,2191.750000,1983.500000,5321.500000,1955.500000,2879.000000,487.000000,64311.000000,10725.250000,33740.500000,3357.500000,15812.750000,12655.750000,1914.500000,36186.000000,29860.750000,517.250000,2445.500000,70098.000000,46559.000000,23539.000000,28301.500000,26991.250000,1310.250000,28301.500000,69693.000000,57555.000000,8112.250000,2372.250000,1125.000000,1032.000000,2569.500000,11376.500000,12491.250000,12252.500000,4699.250000,70436.750000,64594.500000,39776.250000,23407.250000,1411.000000
1239,1252,35.533333,38064.333333,39675.333333,60298.333333,8013.333333,273.333333,6578.333333,30.666667,585.000000,91890.000000,31719.666667,67508.00,5865.333333,4338.000000,4041.666667,7564.333333,5289.666667,2170.000000,2450.666667,9990.666667,1830.333333,6776.000000,1384.333333,65520.000000,8568.333333,36836.666667,9410.000000,22795.333333,3637.333333,994.000000,38605.000000,31667.000000,1832.333333,1768.333333,75577.333333,49326.333333,26251.000000,35037.333333,31719.666667,3317.666667,35037.333333,76991.000000,66529.666667,6317.000000,3053.000000,690.666667,1286.000000,1682.000000,10830.000000,9488.000000,16097.333333,8531.333333,77739.666667,69373.333333,52988.000000,15700.333333,685.000000
1486,1504,35.733333,39667.333333,41806.666667,49825.666667,5514.333333,1608.333333,9732.333333,1503.000000,6655.666667,87626.333333,30469.000000,70017.00,3429.000000,4788.000000,4540.333333,7331.000000,5913.333333,2639.666667,1827.666667,9728.666667,3729.333333,5343.333333,656.000000,71089.666667,9161.666667,38291.666667,2765.666667,15480.666667,13438.000000,6607.333333,40069.000000,30128.000000,879.000000,1777.333333,80887.333333,46530.666667,34356.666667,32478.000000,30469.000000,2009.000000,32478.000000,80401.000000,65635.666667,8555.333333,3650.333333,1580.333333,2492.333333,3097.333333,15973.333333,12936.000000,10477.333333,4433.666667,81474.000000,62912.333333,37409.333333,24266.333333,1236.666667
733,740,39.533333,38894.333333,40163.333333,64042.666667,541.333333,476.666667,2029.666667,61.666667,8911.666667,98527.666667,28618.000000,84957.00,2166.333333,3793.333333,4115.666667,6576.000000,5402.666667,3182.333333,3381.666667,5453.000000,1243.666667,3311.666667,897.666667,73014.000000,13034.333333,37643.333333,6396.000000,20026.000000,7652.000000,3569.333333,39895.666667,31343.666667,2295.666667,2252.333333,78148.333333,46533.000000,31615.333333,31400.666667,28618.000000,2782.666667,31400.666667,78462.666667,69535.333333,5260.333333,2654.333333,603.666667,5334.000000,2730.333333,10373.000000,12559.333333,12865.333333,6872.333333,79057.666667,63759.000000,47950.000000,14606.000000,1203.000000
1590,1608,37.450000,34270.000000,38154.500000,64115.000000,2926.250000,218.000000,2403.000000,24.750000,1275.250000,85533.500000,30428.750000,62329.00,4021.750000,5381.000000,5188.750000,7542.000000,5115.000000,1989.000000,1191.250000,7704.000000,2383.250000,4379.250000,941.500000,62157.000000,9918.500000,39119.250000,6035.000000,22214.000000,9518.000000,1352.250000,40499.750000,33426.000000,1889.250000,1380.500000,69668.000000,44444.000000,25224.000000,31788.750000,30428.750000,1360.000000,31788.750000,71610.250000,59287.750000,6629.750000,3730.500000,1603.500000,1445.250000,2081.250000,11612.500000,10030.000000,13240.750000,6025.750000,72424.500000,67505.250000,52074.500000,14659.750000,771.000000

In [40]:
city[(city['ID']==1353) | (city['ID']==1252) | (city['ID']==1504) | (city['ID']==740) | (city['ID']==1608)]

,ID,city,state,state_code,code,time_created
739,740,Napa city,California,6,50258,2021-01-19 14:47:03
1251,1252,Bloomington city,Illinois,17,6613,2021-01-19 14:47:03
1352,1353,North Richland Hills city,Texas,48,52356,2021-01-19 14:47:03
1503,1504,Auburn city,Washington,53,3180,2021-01-19 14:47:03
1607,1608,Waukesha city,Wisconsin,55,84250,2021-01-19 14:47:03